<script type="text/javascript" src="../LIB/jquery-2.0.3.js"></script>
                    <script type="text/javascript" src="../jquery.countdownTimer.js"></script>
                    <link rel="stylesheet" type="text/css" href="../CSS/jquery.countdownTimer.css" />
                    </head>
                    <body>
                        <div id="main">
                            <table style="border:0px;">
                                <tr>
                                    <td style="width:70px;text-align:center;">Hours</td>
                                    <td style="width:60px;text-align:center;">Minutes</td>
                                    <td style="width:70px;text-align:center;">Seconds</td>
                                </tr>
                                <tr>
                                    <td colspan="4"><span id="hms_timer"></span></td><td>&nbsp;&nbsp;<button id="pauseBtnhms">Pause</button></td><td>&nbsp;&nbsp;<button id="stopBtnhms">Stop</button></td>
                                </tr>
                            </table>
                            <script>
                                $(function(){
                                    $('#hms_timer').countdowntimer({
                                        hours : 00,
                                        minutes :40,
                                        seconds : 00,
                                        size : "lg",
										
					pauseButton : "pauseBtnhms",
					stopButton : "stopBtnhms"
                                    });
                                });
                            </script>
                           
                        </div>