*									{ margin: 0; padding: 0; }
body								{ font: 14px Helvetica, Sans-Serif; }

#page-wrap							{ width: 700px; margin: 25px auto; }


.ui-tabs 							{ zoom: 1; }
.ui-tabs .ui-tabs-nav 				{ list-style: none; position: relative; padding: 2px 2px 0; overflow: hidden; 
									  top: 1px; z-index: 1000; }
									  
/*.ui-tabs .ui-tabs-nav li 			{ position: relative; float: left; border: 1px solid #ccc; 
									  border-bottom-width: 0 !important; margin: 0 2px -1px 0; background: #ccc; }
									  */
.ui-tabs .ui-tabs-nav li a 			{ float: left; text-decoration: none; padding: 5px 10px; color: black; }

.ui-tabs .ui-tabs-nav 
li.ui-tabs-selected a, .ui-tabs 
.ui-tabs-nav li.ui-state-disabled a, 
.ui-tabs .ui-tabs-nav 
li.ui-state-processing a 			{ cursor: text; }
.ui-tabs .ui-tabs-nav li a, 
.ui-tabs.ui-tabs-collapsible 
.ui-tabs-nav li.ui-tabs-selected a  { cursor: pointer; } /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */
.ui-tabs .ui-tabs-panel 			{ padding: 20px; display: block; border-width: 0; background: none; margin-bottom:100px;
									  border: 1px solid #ccc; position: relative; min-height: 200px; }
.ui-tabs .ui-tabs-hide 				{ display: none !important; }


.ui-corner-top.ui-tabs-selected.ui-state-active > a{
	color:#fff;
	background:#2ab2eb;
	
}

a.mover 							{ background: #2ab2eb none repeat scroll 0 0;
    border-radius: 4px;
    bottom: 9px;
    color: white;
    font-size: 14px;
    left: 40%;
    padding: 12px 12px;
    position: fixed;
    text-decoration: none;
	margin-left:42px;
    width: 185px;}
									  
									  
									  
/*.next-tab 							{ bottom: 0; right: 0; -moz-border-radius-topleft: 10px; -webkit-border-top-left-radius: 10px; }

.prev-tab 							{ bottom: 0; left: 0; -moz-border-radius-topright: 10px; -webkit-border-top-right-radius: 10px; }*/

.prevtabdflt {
background-color:#ababab !important;
}

.next-tab  {
    left: 0;
    position: fixed !important;
    bottom: 600px;
    z-index: 99999;
	text-align:center;
}

.footer_left {
	height:40px;
}
.qs_save_btn {
    background: #005579 none repeat scroll 0 0;
    border: 0 none;
    border-radius: 4px;
    bottom: 10px;
    color: #ffffff;
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    height: 40px;
    line-height: 40px;
    margin: 0;
    min-width: 185px;
    position: fixed !important;
    right: 23%;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    z-index: 2147483647 !important;
}

.prevs {
    background: #ababab none repeat scroll 0 0 !important;
    bottom: 10px;
    left: 24% !important;
    margin-left: 0%  !important;
    min-width: 185px;
    position: fixed !important;
    text-align: center;
    z-index: 99999;
}

/*below added by Dinesh on 07-2017*/

.ui-tabs .ui-tabs-nav li a {
 background: #005579 none repeat scroll 0 0;
    border-radius: 2px;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    font-weight: normal;
    height: 29px;
    line-height: 29px;
    text-align: center;
    text-decoration: none;
    transition: all 0.3s ease-in-out 0s;
    width: 29px;
}

.ui-tabs .ui-tabs-nav li a {
    float: left;
    /*padding: 1px 10px;*/
	padding: 1px 0px;
    text-decoration: none;
}
.ui-tabs .ui-tabs-nav li {
	float: left;
    margin: 8px 10px 15px 1px;
    position: relative;
}
.ans_options input  {
float:left;
}
.ans_options p {
    float: left;
    padding: 1px 10px;
}

.ui-tabs-panel.ui-widget-content.ui-corner-bottom{
overflow:hidden;
}

.ans_options {
    float: left;
    overflow: hidden;
    padding: 0 12px;
    position: relative;
    width: 25%;
	  list-style: none;
}

.ans_options img {
    margin-top: -14px;
    max-width: 85%;
    vertical-align: middle;
    width: auto;
	display:block;
	margin:0px auto;
}

/*.ans_options::before {
    background: #000 none repeat scroll 0 0;
    border-radius: 50%;
    content: "";
    display: block;
    height: 6px;
    left: 0;
    position: absolute;
    top: 8px;
    width: 6px;
}*/

.qus {
    font-size: 16px;
    padding-bottom: 20px;
}
.qus p{ display: inline; }
#qusdetails {
		width:90% !important;
}

.qus > p img {
	display:block;
	padding:5px;
}
.easy-sidebar {
  height: 800px  !important;
} 

.ans_options p {
    float: inherit;
    padding: 1px 10px;
    width: 81%;
}
.big_answer { width:49%;   list-style: none;}