<div class="dashboard-footer clearfix" style="min-height: 40px;">
    <div class="footer_main ll-hide-all">
        <div class="footer_left">
            <a href="#yourModalId" aria-label="open">Previous</a>
            <a href="#" class="save_next">Save & next</a>
        </div>
        <div class="footer_right">
            <a href="#">Submit test</a>
        </div>
    </div>
</div>