<div class="date_bar ll-hide-all">
    <div class="time_progress_bar">
        <div class="white_bar">
            <div class="main_bar"><div class="prcessing_speed2">&nbsp;</div></div>
            <div class="bar_value">40%</div>
        </div>
    </div>
    <div class="text_result">
        <h2>01/30</h2>
        <p>Questions Attempted</p>
    </div>
</div>