<div class="timing_bar ll-hide-all">
    <div class="time_progress_bar">
        <div class="white_bar">
            <div class="main_bar"><div class="prcessing_speed">&nbsp;</div></div>
            <div class="bar_value">40%</div>
        </div>
    </div>
    <div class="text_result">
        <h2>00:29:50</h2>
        <p>Time Remaining</p>
    </div>
</div>