<footer class="row">
    <p class="col-md-9 col-sm-9 col-xs-12 copyright">&copy; <a href="javascript:void(0);" target="_blank"><?php echo Configure::read('App.appName'); ?></a> <?php echo date('Y'); ?></p>

    
</footer>