<?php 	$examination_id =  $this->Session->read('examination_id');?>
<nav class="navbar navbar-inverse easy-sidebar">
  
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header"> </div>
    <div class="question_left">
       <div class="left_panel"><a href="#" class="easy-sidebar-toggle" title="Click to open menu">Toggle Sidebar</a></div>
        <h2>Questions</h2>
		
		
		
		
		
        <ul class="question_tab">
            <li><a href="<?php echo $this->webroot.'students/take_exam/'.$examination_id.'/1';?>" class="<?php echo (@$pageCount == 1) ? 'active' : '';?>">1</a></li>
			<?php
		
			  for($i = 2; $i <=30; $i++){
				  ?>
				 <li><a href="<?php echo $this->webroot.'students/take_exam/'.$examination_id.'/'.$i;?>" class="<?php echo (@$pageCount == $i) ? 'active' : '';?>"><?php echo $i;?></a></li>  
		<?php
			  }
			?>
            
        </ul>
    </div>
    <div class="attamp_check">
       
        
        <label>Attempted</label>
        
        
        <label>Not attempted</label>
        
        </div>
        <div class="view_all_qu">
        <a href="#">View All Questions</a>
        </div>
      
    
  
  
</nav>