<div class="right_bar">
	 <div class="attempt_details">
	<div class="attempt_qus">
				<ul>
						<li><span>Attempt Questions : </span> <strong><?php echo $totalAttemptQs;?> </strong></li>
						<li><span>Correct Answer : </span> <strong> <?php echo $correctAnswer;?> </strong></li>

						<li><span>Result : </span> <strong> <?php echo round(($correctAnswer/$totalqustionSet)*100 ,2); ?>% </strong></li>

				</ul>
		</div>
	</div>
</div>