<div class="rt-vid">
<iframe width="600" height="300" src="https://www.youtube.com/embed/RVYU9Be2RtA" frameborder="0" allowfullscreen></iframe>


	<!--<video width="600" controls>
	
	<source src="<?php echo $this->webroot.'site_videos/'.$SiteVideo['SiteVideo']['file_name'];?>" type="video/<?php echo $SiteVideo['SiteVideo']['video_type']?>"/>
	
	<source src="<?php echo $this->webroot.'site_videos/';?>videoplayback___.mp4" type="video/mp4">
	<source src="<?php echo $this->webroot.'site_videos/';?>AwesomeScreenshot-2017-07-04T06-03-25-986Z.webm" type="video/webm"/>
	<source src="mov_bbb.ogg" type="video/ogg">
	
	Your browser does not support HTML5 video.
	</video>-->
</div>
