<nav class="navbar navbar-inverse easy-sidebar">
  
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header"> </div>
    <div class="question_left">
       <div class="left_panel"><a href="#" class="easy-sidebar-toggle" title="Click to open menu">Toggle Sidebar</a></div>
       <h2>My Dashboard</h2></br>
     <div>
	  <label>My Profile</label></br>
	 <!-- <label><a href="<?php echo $this->webroot.'students/'?>"><span style="color:#fff">Purchase Exam</span></a></label></br>-->
	    <label><a href="<?php echo $this->webroot.'students/take_exam_list'?>"><span style="color:#fff">Take Exam</span></a></label></br>
		<!-- <label><a href="<?php echo $this->webroot.'students/my_exam'?>"><span style="color:#fff">My Exam</span></a></label></br>-->
	 
     </div>
    </div>
    <div class="attamp_check">
       
        
        <label>Attempted</label>
        
        
        <label>Not attempted</label>
        
        </div>
        <div class="view_all_qu">
        <a href="#">View All Questions</a>
        </div>
      
    
  
  
</nav>