<div class="container">
      <div class="profile_section inner_field">
        <div class="row">
		<?php echo $this->element('parent_dashboard_left');?>
		  
          <div class="col-sm-8 col-md-9">
            <div class="mainsection">
              <div class="inner_cont">
                <div class="main_headding">
                <h2>Payment Error</h2>
                  <h3><?php //echo ucwords($studentDetails['Student']['first_name']).' '.ucwords($studentDetails['Student']['last_name']); ?></h3>
                  <span></span>
                </div>
                <div class="prof_details prof_form">
                   <!-- content Start--> 
                   <div style="color:red;"> <?php echo $this->Session->flash();?></div>
				           <a href="<?php echo $this->webroot ;?>student_parents/make_payment"><button>Back</button></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
	
