<div class="container">
      <div class="profile_section inner_field">
        <div class="row">
		<?php echo $this->element('parent_dashboard_left');?>
		  
          <div class="col-sm-8 col-md-9">
            <div class="mainsection">
              <div class="inner_cont">
                <div class="main_headding">
                <h2>Thank You</h2>
                  <h3>Payment Success. <?php //echo ucwords($studentDetails['Student']['first_name']).' '.ucwords($studentDetails['Student']['last_name']); ?></h3>
                  <span></span>
                </div>
                <div class="prof_details prof_form">
                   <!-- content Start--> 
                   <div style="color:#f68d00;"> <?php echo $this->Session->flash();?></div>
                   <div style="color:#f68d00;"> Transaction successfully completed!</div>
				 
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
	
