<div class="container">
      <div class="profile_section inner_field">
        <div class="row">
		<?php echo $this->element('school_dashboard_left');?>
		  
          <div class="col-sm-8 col-md-9">
            <div class="mainsection">
              <div class="inner_cont">
                <div class="main_headding">
                <h2>Resault Chart</h2>
                  <h3><?php //echo ucwords($studentDetails['Student']['first_name']).' '.ucwords($studentDetails['Student']['last_name']); ?></h3>
                  
                </div>
					<div class="prof_details prof_form">
						<div class="attempt_details">
							<div class="attempt_qus">
								<ul>
									<li><span>Total Student(s) : </span> <strong><?php echo $no_of_student_appear;?> </strong></li>
									<li><span>Pass Student(s) : </span> <strong> <?php echo $pass ?></strong></li>
									<li><span>Fail Student(s) : </span> <strong> <?php echo $fail;?> </strong></li>
									<!--<li><span>Average Correct Answer : </span> <strong><?php //echo @$avereageCorrectAns;?></strong></li>-->
									
								</ul>
							</div>
						</div>
					</div>      
				<div class="clear_fix"></div>
				
				
              </div>
            </div>
			
			<div class="prof_details prof_form">
	<table border="2" bordercolor="#fff">
		<tr>
			<th>Question Group</th>
			<th>Students(%) who gives correct answer</th>
			<th>Average Correct Answer</th>
			<th>Standard Deviation</th>
		</tr>
     <?php
	        	$tn = $total_set_question / 10;
				$whole = floor($tn);
				$remender =  $total_set_question % 10;
				$offset = 0;
				for($i = 1;  $whole >= $i; $i++){
						if($whole == $i){
								$limit = (10 + $remender);
						} else {
							$limit = 10;
						}
					
					
					$percentageStudent = $this->requestAction(array('controller' => 'schools', 'action' => 'fetch_student_tenbyten_correct_ans',$school_purchase_exam_id, $offset, $limit));
					$averageCorrectAnswer = $this->requestAction(array('controller' => 'schools', 'action' => 'fetch_avarage_correct_ans',$school_purchase_exam_id, $offset, $limit));
					$standardDeviation = $this->requestAction(array('controller' => 'schools', 'action' => 'fetch_standard_deviation',$school_purchase_exam_id, $offset, $limit));
					//$percentageStudent = $this->requestAction(array('controller' => 'schools', 'action' => 'fetch_student_tenbyten_correct_ans',$school_purchase_exam_id, $offset, $limit));
					$offset += 10;
					
	 ?>
		<tr>
			<td>
			<?php 
			if($whole == $i){
					echo ordinal($i). ' '.(10 + $remender );
			} else {
					echo ordinal($i). ' 10';
			}
		
			?>
			</td>
			<td><?php echo @$percentageStudent;?></td>
			<td><?php echo @$averageCorrectAnswer;?></td>
			<td><?php echo $standardDeviation;?></td>
		</tr>
<?php }?>
		

		
	</table>
</div>
			
			
			
			
			
			
			
			
          </div>
        </div>
      </div>
    </div>
	<style>
table tr td {
	padding:30px!important;
	text-align:center!important;
}
</style>
	<?php 
				function ordinal($number) { 
					if ($number % 100 > 10 && $number %100 <14): 
							$suffix = "th"; 
							else: 
							switch($number % 10) { 
							case 0:
							   $suffix = "th"; 
							break; 
							case 1: 
							   $suffix = "st"; 
							break; 

							case 2: 
								$suffix = "nd"; 
							break; 

							case 3: 
								$suffix = "rd"; 
							break; 

							default: 
								$suffix = "th"; 
							break; 
							} 
					endif; 

					return "${number}<SUP>$suffix</SUP>"; 

			}

?>