@charset "utf-8";
/* CSS Document */
.modal-dialog {
	/*below  line comment on 02-02-2018 by dinesh 
	because of having problem in modal box after school viewing question answer after clicking "View"
	https://learnerleaderonline.com/schools/result_chart/MTI/non-calculator
	*/
     /*width: 43% !important;*/
	 width: 43%;
}
.btn-lg, .btn-group-lg>.btn {
    font-size: 15px !important;
    margin-bottom: 15px;
}
.childreen-cls {
    margin: 0px !important;
}

@media screen and (max-width:1700px) {
    .form_info label {
        width: 42%;
    }
    .form_info .inp_text {
        width: 56% !important;
    }
    .main_headding h3 {
        font-size: 30px;
    }
}

@media (max-width: 479px){
    .regi_main .form_info label {
    width: 100%;
    margin-right: 10px;
}
.form-group {
    font-size: 13px;
}
.regi_main h2 {
    font-size: 20px;
    padding-bottom: 10px;
}

    }


@media (max-width: 767px){
        .regi_main .form_info label {
    width: inherit;
    margin-right: 10px;
}
    .modal-dialog {
    width:100% !important;
}
    
.attempt_qus ul li {
    width: 100% !important;
	 float: none;
	    margin-left: 0 !important;
		margin-bottom:15px;

}
    
.attempt_qus ul li: span {
    width: 70% !important;
}
.attempt_qus ul li: strong {
    width: 30% !important;
}
.ans_options {
    float: none !important;
    width: auto !important;
}
.ans_options p {
    float: left !important;
}   
.qus p span {
    font-size: 14px !important;
    line-height: 16px;
}
#captcha_txt{
margin-bottom:15px;
}
}

@media (max-width: 992px) {
.attempt_qus ul li {
    width: 49%;
}
.attempt_qus li:nth-child(3) {
    margin-left: 0 !important;
	width:100%;
}
.ans_options {
    font-size: 13px;

}
    .modal-dialog {
    width: 50% !important;
}
}

@media (max-width: 767px) {
    .modal-dialog {
    width:auto!important;
}
    
    .logo{
        text-align: center;
        margin-bottom: 10px;
    }
    .registration_button{
        float: left;
        width: 100%;
        margin-bottom: 10px;
        text-align: center;
        margin-bottom: 15px !important;
        
    }
    .registration_button a{
        display: inline-block;
    }
    .navigation_bar{
        float: left;
        width: 100%;
    }
    
    
    .navigation_bar .navbar-default{
        background-color: #119548;
    }
    .navbar-default .navbar-toggle .icon-bar{
        background: #fff;
    }
    .navbar-nav{
        margin: 10px 0;
    }
    .navigation_bar .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
        background: none;
    }
    .navigation_bar .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background: none;
}
    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
        background: none;
    }
    .banner_caption{
        width: 90%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        text-align: center;
    }
    .banner_caption h2{
        font-size: 16px;
    }
    .banner_caption h3{
        font-size: 18px;
    }
    .carousel-control{
        top: 50%;
    }
    .carousel-control.right{
        left: 50px;
    }
    .carousel-control.left{
        left: 12px;
    }
    .choose_school a.hight_s{
        margin-right: 0;
    }
    .schools_acess_inner_text{
        margin-top: 15px;
    }
    .schools_acess_inner{
        padding: 15px 10px;
    }
    .schools_acess_inner_text h3{
        font-size: 18px;
    }
    .schools_acess_blue{
        margin-top: 20px;
    }
    .schools_details_boxes{
        margin-top: 20px;
    }
    .gallery_images{
        margin-top: 0;
    }
    .gallery_images img{
        margin-top: 20px;
    }
    .about_section{
        width: 100%;
        margin-left: 0;
    }
    .about_section:after{
        display: none;
    }
    .about_section:before{
        display: none;
    }
    .about_footer_section{
        margin-top: 20px;
    }
    .footer_section{
        width: 100%;
       
    }
    .search_section{
        padding: 18px 15px;
    }
    .search_section input[type="text"]{
        width: 100%;
        margin-bottom: 10px;
        height: 35px;
    }
    .search_section input[type="button"]{
        height: 35px;
        font-size: 15px;
    }
    .footer_nav_section{
        padding: 30px 15px;
    }
    .footer_nav_box{
        width: 100%;
        padding-left: 0;
        margin-bottom: 15px;
    }
    .footer_nav_box:last-child{
        margin-bottom: 0;
    }
/*  sushanta inner page  */
    
    .contact_add_botton {
        text-align: center;
    }
    .contact_add_botton img {
        margin-bottom: 20px;
        :
    }
    .adj_btn {
        margin-top: 0px;
    }
    .prof_welcome_info h3 {
        font-size: 15px;
    }
    .main_headding h3 {
        font-size: 28px;
    }
    .def_btn {
        font-size: 15px;
        padding: 10px 14px;
    }
    .forminfo {
        margin: 0px 0px 50px !important;
    }
/*  sushanta inner page  */
    
        .drop_down {
    position: relative;
    right: 0px;
     top: 0px; 
    display: none;
    z-index: 100;
    width: 100%;
        margin: 10px 0px;
}
    .registration_button:hover .drop_down {
     display: none;
}

}
@media (min-width: 992px)and (max-width: 1199px)  {
    
    .schools_acess_inner_text{
        margin-top: 20px;
    }
    .about_section{
        width: 30%;
        margin-left: 0;
    }
    .about_section:after{
        display: none;
    }
    .about_section:before{
        display: none;
    }
    .footer_section{
        width: 70%;
    }
    .search_section input[type="text"]{
        width: 388px;
    }
}

@media (min-width: 768px)and (max-width: 991px)  {
    
    .navigation_bar .navbar-nav > li {
    margin-right: 10px;
}
    
    .banner_caption h2{
        font-size: 30px;
    }
    .banner_caption h3{
        font-size: 40px;
    }
    .schools_acess_blue{
        margin-top: 20px;
    }
    .about_section{
        width: 100%;
        margin-left: 0;
    }
    .about_section:after{
        display: none;
    }
    .about_section:before{
        display: none;
    }
    .footer_section{
        width: 100%;
    }
    .search_section input[type="text"]{
        width: 451px;
        
    }
    .footer_nav_box{
        padding-left: 0;
    }
}
