<div class="container">
      <div class="profile_section inner_field">
        <div class="row">
		<?php echo $this->element('dashboard_left');?>
		  
          <div class="col-sm-8 col-md-9">
            <div class="mainsection">
              <div class="inner_cont">
                <div class="main_headding">
                <h2>Exams Available</h2>
                </div>
                <div class="prof_details prof_form">
<table  class="student-list-apr">
  <tr>
  <th>List</th>
    <th>Exam Category</th>
    <th>Year</th>
	 <th>Price($ AUD)</th>
    <th>Click to purchase Exams</th>
   
	
  </tr>
  
  <?php
  if(!empty($allExamAr)){ 
	  $j = 1;
	  foreach($allExamAr as $val){
		  $category = explode(' ',$val['ExaminationCategory']['name']);
		  ?>
		  <tr>
	<td><?php echo $j;?></td>
    <td>Numeracy</td>
    <td><?php echo $category[1]; ?></td>
	<td>
		<?php 
		 foreach($val['Examination'] as $vp){ 
			echo $vp['price'];
			echo '<br>';
		 }
	    ?>
	</td>
    
	<td>
	<?php 
		$i = 1;
		 foreach($val['Examination'] as $v){ 
		  $isMyexamPurchased = $this->requestAction(array('controller' => 'students', 'action' => 'is_exist_in_myexam', $v['id']));
		if($isMyexamPurchased > 0){
	?>
	<span> <?php echo $v['title']//$i;?> (Already purchased)</span>
	<?php } else {?>
	<a href="<?php echo $this->webroot.'students/checkout_new/'.$v['id'];?>"> <?php echo $v['title']//$i;?></a>
	<?php
		 }
		 echo '<br>';
		 $i++;
	 }
	?>
	
	</td>
	
	
	
	
	 
	<?php /*?> <td><?php echo @$val['Examination']['price'];?></td>
	  <td>
	  <?php
	  if(!empty($val['MyExam']['payment_status']) && $val['MyExam']['payment_status'] == 1){ 
	  ?>
	  <a href="<?php echo $this->webroot.'students/take_exam/'.@$val['Examination']['id'];?>">Purchased</a>
	  <?php } else {?>
	 <a href="<?php echo $this->webroot.'students/make_payment/'.@$val['Examination']['id'];?>">Make Payment</a>
	  <?php }?>
	  </td><?php */?>
	  
  </tr>
<?php
	$j++;
	  }
  }
?>
</table>
				 
				 
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
<style>
table td a {
    color: #A0760A;
    font-weight: normal;
    text-decoration: none;
}
table td span {
    color: red;
    font-weight: normal;
    text-decoration: none;
}

</style>