<link rel="stylesheet" href="<?php echo $this->webroot;?>TabsNextPrev/tabs.css" type="text/css" media="screen, projection"/>
	
	
<div class="container">
      <div class="profile_section inner_field">
        <div class="row">
       <?php echo $this->element('dashboard_left');?>
          <div class="col-sm-8 col-md-9">
            <div class="mainsection">
              <div class="inner_cont">
                <div class="main_headding">
                <h2>View Answer</h2>
                  <h3><?php //echo ucwords($studentDetails['Student']['first_name']).' '.ucwords($studentDetails['Student']['last_name']); ?></h3>
                  <span></span>
                </div>
                <div class="prof_details prof_form">
                   <!-- content Start--> 
			<div class="content_main">
				<h2><?php echo $StudentAnswerAr[0]['Question']['Examination']['title'];?></h2>
				<p><?php echo @$StudentAnswerAr[0]['Question']['Examination']['description'];?></p>
				<h4>Attempt Questions : <?php echo $totalAttemptQs;?></h4><br>
				<h4> Correct Answer : <?php echo $correctAnswer;?></h4><br>
			</div>
												
												
		 <!-- tab start by Dinesh-->
	  <div id="page-wrap">
		
		<div id="qusdetails">
 <?php //echo $this->Form->create(null, array('url' => $this->Html->url(array('controller' => 'students', 'action' => 'take_exam_save'), true))); ?>

	  <?php
	  if(!empty($StudentAnswerAr)){ 
		  $i = 1;
		  $k = 1;
		  foreach($StudentAnswerAr as $qval){ //pr($qval);
		  //echo 'HELLO+++>'.$i;
	?>
	   <div id="fragment-<?php echo $i;?>" class="<?php ($i == 1) ? 'ui-tabs-panel tbminwd' : 'ui-tabs-panel ui-tabs-hide tbminwd' ?>">
        	       <div class="qus"><span class="qs_num_va"><?php echo 'Q '.$i;?>. </span> <?php //echo str_replace('../../', '../../../',$qval['Question']['title']);?><?php echo $qval['Question']['title'];?></div>  
				  
<ul class="ans_field">
 <?php 
  $j = 'a';

  foreach($qval['Question']['Answer'] as $ansval) { //pr($ansval);
	if($ansval['answer_type'] == 1){
		$answer_type = '<input type="radio" value="'.$qval['Question']['id'].'Q#'.$ansval['id'].'" name="ans[]">';
	}
	else if($ansval['answer_type'] == 2){
		if($qval['StudentAnswer']['answer_id'] == $ansval['id']){
				$checked = 'checked';
			} else {
				$checked = ' ';
			}
		$answer_type = '<input type="checkbox" '.$checked.' value="'.$qval['Question']['id'].'Q#'.$ansval['id'].'" name="ans[]">';
	} else if($ansval['answer_type'] == 3){
			if($qval['StudentAnswer']['answer_id'] == $ansval['id']){
				$checked = 'checked';
			} else {
				$checked = ' ';
			}
		$answer_type = '<input type="radio"  '.$checked.'  value="'.$qval['Question']['id'].'Q#'.$ansval['id'].'" name="'.$k.'_ans[]">';
		
	} else if($ansval['answer_type'] == 4){
		$answer_type = '<textarea name="ans_'.$qval['Question']['id'].'"></textarea>';
	}
	
	//echo strlen($ansval['answer_text']);
	if(strlen(strip_tags($ansval['answer_text'])) >= 20  && strpos($ansval['answer_text'], 'src="') == false) {
		$answerclass = 'big_answer';
	} else if(strpos($ansval['answer_text'], 'src="') !== false){
		$answerclass = 'big_answer';
	} else {
		$answerclass = 'ans_options';
	}
	
	//echo strlen(strip_tags($ansval['answer_text'])) >= 20 ? 'big_answer' : 'ans_options';
  ?>	

<li class="<?php echo $answerclass;?> ">
	<?php 
		 if($ansval['answer_type'] == 4){
			 echo $answer_type;
		 } else {
		 //  echo $j .' . '.$answer_type.'&nbsp;&nbsp;&nbsp;'.$ansval['answer_text'];
		    echo $answer_type.'&nbsp;&nbsp;&nbsp;'.$ansval['answer_text'];
		    //echo $answer_type.'&nbsp;&nbsp;&nbsp;'.str_replace('../../', '../../../',$ansval['answer_text']);
		 }
		 ?>
		 </li>
		 <?php
		 
		 $j++;
  } 
 
  foreach($qval['Question']['CorrectAnswer'] as $corrans) { //pr($corrans);
	  echo 'Correct Answer : '.$corrans['answer_text'].'</br>';
  }
  
	?> 
</ul>	
			   
        	</div>
	
	  <?php 
	  
					if($qval['Question']['answer_type']){
						$k++;
					}
				 $i++;
				}
			}
	  ?>
	   
                 
         
	  <?php //echo $this->Form->end(); ?>
        </div>
		
	</div>
	    <!-- tab End by Dinesh-->										
												
												
												
												
												
												
				 
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>