<link rel="stylesheet" href="<?php echo $this->webroot;?>TabsNextPrev/tabs.css" type="text/css" media="screen, projection"/>
   <div class="container">
      <div class="profile_section inner_field">
        <div class="row">
          <div class="col-sm-12">
            <div class="contact_details">
                <div class="inner_block">
                  <div class="contact_head">
                      <h2>
                        <strong><?php //echo !empty($cmsData['ContentManagement']['title']) ? $cmsData['ContentManagement']['title'] : $page_heading;?></strong>
                      </h2>
                    </div>
         <!-- sample question start -->
		 <div class="sample-question-page-wrap">
		
		<div id="qusdetails" class="tabs">
	  <?php
	  if(!empty($QuestionAns)){ 
		  $i = 1;
		  $k = 1;
		  foreach($QuestionAns as $qval){ 
	?>
	   <div class="ui-tabs-panel tbminwd">
       <div class="qus"><span class="qs_num2222"><strong><?php echo 'Q '.$i;?>. </strong></span> <?php echo str_replace('../../', '../../../',preg_replace('/<p[^>]*>(.*)<\/p[^>]*>/i', '$1', $qval['Question']['title']));?><?php //echo preg_replace('/<p[^>]*>(.*)<\/p[^>]*>/i', '$1', $qval['Question']['title']);;?></div>  
				  
<ul class="ans_field">
 <?php 
  $j = 'a';

  foreach($qval['Answer'] as $ansval) { //pr($ansval);
	if($ansval['answer_type'] == 1){
		$answer_type = '<input type="radio" value="'.$qval['Question']['id'].'Q#'.$ansval['id'].'" name="ans[]">';
	}
	else if($ansval['answer_type'] == 2){
		$answer_type = '<input type="checkbox" value="'.$qval['Question']['id'].'Q#'.$ansval['id'].'" name="ans[]">';
	} else if($ansval['answer_type'] == 3){
		$answer_type = '<input type="radio"  value="'.$qval['Question']['id'].'Q#'.$ansval['id'].'" name="'.$k.'_ans[]">';
		
	} else if($ansval['answer_type'] == 4){
		//$answer_type = '<textarea name="ans_'.$qval['Question']['id'].'" class="input_count" placeholder="Enter your answer here"></textarea>';
		$answer_type = '<textarea name="descriptive_ans[]" class="input_count" placeholder="Enter your answer here"></textarea>';
		$hidenTextArea = '<input type="hidden" value="'.$qval['Question']['id'].'" name="HiddenTextQid[]">';
	}
	
	//echo strlen($ansval['answer_text']);
	if(strlen(strip_tags($ansval['answer_text'])) >= 20  && strpos($ansval['answer_text'], 'src="') == false) {
		$answerclass = 'big_answer';
	} else if(strpos($ansval['answer_text'], 'src="') !== false){
		$answerclass = 'big_answer';
	} else 	if(strlen(strip_tags($ansval['answer_text'])) <= 20  && strpos($ansval['answer_text'], 'src="') == false && count($qval['Answer']) >=5) {
		$answerclass = 'ans5_options';
	}
	else {
		$answerclass = 'ans_options';
	}
	
	//echo strlen(strip_tags($ansval['answer_text'])) >= 20 ? 'big_answer' : 'ans_options';
  ?>	

<li class="<?php echo ($ansval['answer_type'] == 4) ? 'ans_options_txt_area' : $answerclass;?> ">
	<?php 
		 if($ansval['answer_type'] == 4){
			 echo $answer_type;
			 echo $hidenTextArea;
		 } else {
		 //  echo $j .' . '.$answer_type.'&nbsp;&nbsp;&nbsp;'.$ansval['answer_text'];
		   // echo $answer_type.'&nbsp;&nbsp;&nbsp;'.$ansval['answer_text'];
		    echo $answer_type.'&nbsp;&nbsp;&nbsp;'.str_replace('../../', '../../../',$ansval['answer_text']);
		 }
		 ?>
		 </li>
		 <?php
		 
		 $j++;
  } 
	?> 
</ul>	
			   
        	</div>
	
	  <?php 
	  
					if($qval['Question']['answer_type']){
						$k++;
					}
				 $i++;
				}
			}
	  ?>
        </div>
		
	</div>
	 <!-- sample question End -->
		 
                </div>
		
		 <div class="row">&nbsp;&nbsp;&nbsp;</div>		

              <div class="contact_add_botton">
                <div class="row">
                 <div class="col-sm-4">
                      <img src="<?php echo $this->webroot;?>images/add_pic1.jpg" alt="">
                 </div>
                 <div class="col-sm-4">
                      <img src="<?php echo $this->webroot;?>images/add_pic2.jpg" alt="">
                 </div>
                 <div class="col-sm-4">
                      <img src="<?php echo $this->webroot;?>images/add_pic3.jpg" alt="">
                 </div>
                </div>

              </div>
            </div>

          </div>
		  
        </div>
      </div>
    </div>