<?php
if(!empty($examTypesBreadcrumb)){
    echo $this->Breadcrumb->show($examTypesBreadcrumb, true);
}else{
    echo $this->Breadcrumb->show(array(
        array("text" => __('Examination Management'), "link" => array( 'controller' => 'examination_managements', 'action' => 'index')),
        array("text" => __('Types'), "link" => array('controller' => 'examination_managements', 'action' => 'types'))
    ), true);
}
?>
<?php echo $this->Session->flash(); ?>

<div class="row">
    <div class="box col-md-12">
        <div class="box-inner">
            <div class="box-header well" data-original-title="">
                <h2><i class="glyphicon glyphicon-list-alt"></i> 
                    <?php
                    //if(!empty($parentCategoryName)){
                        //echo 'Examination Sub-categories of '.$parentCategoryName;
                    //}else{
                        echo 'Examination Types';
                    //}
                    ?>
                </h2>

                <div class="box-icon">
                    <!--<a href="#" class="btn btn-setting btn-round btn-default"><i class="glyphicon glyphicon-cog"></i></a>-->
                    <a href="#" class="btn btn-minimize btn-round btn-default"><i
                            class="glyphicon glyphicon-chevron-up"></i></a>
                    <a href="#" class="btn btn-close btn-round btn-default"><i class="glyphicon glyphicon-remove"></i></a>
                </div>
            </div>
            <div class="box-content">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <input type="button" class="btn btn-primary" value="Add Exam type" style="margin-bottom: 10px;" data-toggle="modal" data-target="#examTypeAddEditModal">
                        <input type="button" class="btn btn-primary selectAllExamTypeButton" value="Select All" style="margin-bottom: 10px;" >
                        <input type="button" class="btn btn-primary" value="Delete All" style="margin-bottom: 10px;" data-toggle="modal" data-target="#deleteExamTypeModal">
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12 filters">
                        
                        <?php echo $this->Form->create('ExaminationType', array('url' => array('controller' => 'examination_managements', 'action' => 'search_categories'), 'class' => 'form-inline', 'role' => 'form' )); ?>
                        <?php
                            echo $this->Form->input('order', array('type' => 'hidden', 'label' => false, 'div' => false));
                            echo $this->Form->input('orderType', array('type' => 'hidden', 'label' => false, 'div' => false));
                        ?>
                        <div class="form-group col-md-6 col-sm-6 col-xs-12 pl-none">
                            <?php
                                echo $this->Form->input('limit', array('options' => array(10 => 10, 20 => 20, 40 => 40, -1 => 'All'), 'selected' => $limit, 'empty' => '- Select Limit -', 'class' => 'chosen form-control',
                                    'label' => __('Show: '), 'div' => false));
                            ?>
                        </div>
                        
                        <div class="form-group col-md-6 col-sm-6 col-xs-12 pr-none pl-none">                            
                            <?php echo $this->Form->input('search', array('label' => __('Search: '), 'div' => false, 'value' => urldecode($search), 'class' => 'form-control')); ?>
                        </div>
                        
                        <?php echo $this->Form->end(); ?>
                        
                    </div>
                </div>
                <div class="table-responsive">                
                  <?php //pr($examinationTypes); ?>
                <!-- examinationCategories -->  
                <table class="table table-striped table-bordered bootstrap-datatable dataTable">
                    <thead>
                        <tr>
                            <th class="table-heading <?php echo ($order == 'name')?'sorting_'.strtolower($orderType):'sorting'; ?>" data-order="name" data-order-type="<?php echo ($order == 'name')?strtolower($orderType):'asc'; ?>">Name</th>
                            <th class="table-heading <?php echo ($order == 'slug')?'sorting_'.strtolower($orderType):'sorting'; ?>" data-order="slug" data-order-type="<?php echo ($order == 'slug')?strtolower($orderType):'asc'; ?>">Slug</th>
                            <th class="table-heading <?php echo ($order == 'created')?'sorting_'.strtolower($orderType):'sorting'; ?>" data-order="created" data-order-type="<?php echo ($order == 'created')?strtolower($orderType):'asc'; ?>">Created</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <?php
                        if(!empty($examinationTypes)){
                            $examTypeCount = 1;
                            $rowClass = 'even';
                            foreach ($examinationTypes as $key => $examType){
                                $rowClass = (($examTypeCount % 2) != 0)?'odd':'even';
                        ?>
                        <tr>
                            <td>
                                <div class="checkbox" style="margin-top:0;"> <label for="examTypeName<?php echo $examType['ExaminationType']['id']; ?>"> <input class="select-examType" type="checkbox" id="examTypeName<?php echo $examType['ExaminationType']['id']; ?>" value="<?php echo $examType['ExaminationType']['id']; ?>"> <?php echo $examType['ExaminationType']['name']; ?> </label> </div>
                            </td>
                            <td><?php echo $examType['ExaminationType']['slug']; ?></td>
                            <td class="center"><?php echo date("jS F, Y", strtotime($examType['ExaminationType']['created'])); ?></td>
                            <td class="center">
<!--                                <a class="btn-success view-school btn-sm" title="View" style="margin:0 0px 5px 0; text-decoration: none; cursor: pointer; display: inline-block;" data-toggle="modal" data-target="#categoryViewModal" data-category="<?php //echo $examType['ExaminationType']['id']; ?>">
                                    <span class="glyphicon glyphicon-zoom-in icon-white"></span> 
                                </a>-->
                                <a class="btn-info btn-sm" title="Edit" data-toggle="modal" style="margin:0 0px 5px 0; text-decoration: none; cursor: pointer; display: inline-block;" data-target="#examTypeAddEditModal" data-exam-type="<?php echo $examType['ExaminationType']['id']; ?>">
                                    <span class="glyphicon glyphicon-edit icon-white"></span>
                                </a>
                                <a class="btn-danger btn-sm" title="Delete" data-toggle="modal" style="margin:0 0px 5px 0; text-decoration: none; cursor: pointer; display: inline-block;" data-target="#deleteExamTypeModal" data-exam-type-name="<?php echo $examType['ExaminationType']['name']; ?>" data-exam-type="<?php echo $examType['ExaminationType']['id']; ?>">
                                    <span class="glyphicon glyphicon-trash icon-white"></span>
                                </a>
                                <?php if(!empty($examType['children']) && count($examType['children']) > 0){ ?>
                                <a class="btn-warning btn-sm sub-examTypeFinder" title="View sub-exam-types" style="margin:0 0px 5px 0; text-decoration: none; cursor: pointer; display: inline-block;" data-exam-type-name="<?php echo $examType['ExaminationType']['name']; ?>" data-exam-type="<?php echo $examType['ExaminationType']['id']; ?>">
<!--                                    <span class="glyphicon glyphicon-share-alt icon-white"></span>&nbsp;<span class="glyphicon glyphicon-envelope icon-white"></span>-->
                                    <img style="height:16px; width: 16px;" src="<?php echo Router::url('/', true); ?>img/sub_category.png" alt="Sub Categories">
                                </a>
                                <?php } ?>
                            </td>
                        </tr>
                        <?php
                                $examTypeCount++;
                            }
                        }else{
                        ?>
                        <tr class="odd">
                            <td valign="top" colspan="4" class="dataTables_empty">
                                <?php
                                if(!empty($isParent)){
                                    echo 'No exam sub-type found';
                                }else{
                                    echo 'No exam type found';
                                }
                                ?>
                            </td>
                        </tr>
                        <?php } ?>
                    </tbody>
                </table>
                    
                <!-- Start Pagination -->
                <?php //echo $this->element('Commons/Pagination/Bottom'); ?>    
                <!-- End Pagination -->
                                    
                
                </div>
            </div>
        </div>
    </div>
    <!--/span-->

</div><!--/row-->

<!-- Start Add And edit Exam Modal-->
<div class="modal fade" id="examTypeAddEditModal" tabindex="-1" role="dialog" aria-labelledby="examTypeAddEditModalLabel"
     aria-hidden="true">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Add Examination Type</h4>
            </div>
            <div class="modal-body">
                <div class="row" id="examTypeAddEditMessage" style="display:none;">
                    <div class="col-md-6 col-xs-12 col-sm-12 text-center">
                        <div class="alert alert-success" role="alert">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            <strong>Thank you!</strong> Exam type saved successfully. 
                        </div>
                    </div>
                </div>
                <?php
                echo $this->Form->create(false, array(
                    'url' => array('controller' => 'examination_managements', 'action' => 'add_exam_type'),
                    'id' => 'examTypeAddEditForm',
                    'role' => 'form',
                    'class' => 'form-horizontal'
                ));
                ?>
                <div class="form-group" style="margin-bottom: 4px;">
                    <label for="examTypeFormRequired" class="col-md-12 col-sm-12 col-xs-12 control-label text-right" style="font-size: 13px; font-weight: normal;"><sup style="color:red;">*</sup> indicates a required field.</label>
                </div>
                <div class="form-group">
                    <label for="ExaminationTypeName" class=" col-md-3 col-sm-3 col-xs-12 control-label"><sup style="color:red;">*</sup>Name</label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                        <?php echo $this->Form->input('ExaminationType.name', array('type' => 'text', 'label' => false, 'div' => false, 'required' => true, 'class' => 'form-control', 'autocomplete' => 'off')); ?>
                    </div>
                </div>
                <div class="form-group">
                    <label for="ExaminationTypeParentId" class=" col-md-3 col-sm-3 col-xs-12 control-label">Parent</label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                        
                        <?php 
                        $examTypeOptions = $this->ExamType->getExamTypeList(Configure::read('App.examinationTypeList'));
                        //echo $this->Form->input('ExaminationType.parent_id', array('type' => 'select', 'label' => false, 'div' => false, 'empty' => '- Select Category -', 'class' => 'form-control', 'style' => 'width:100%', 'options' => $examTypeOptions)); 
                        ?>
                        <select name="data[ExaminationType][parent_id]" class="form-control" style="width:100%" id="ExaminationTypeParentId" >
                            <option value="">- Select Exam Type -</option>
                            <?php foreach ($examTypeOptions as $key => $data){ ?>
                            <option value="<?php echo $key; ?>"><?php echo $data; ?></option>
                            <?php } ?>
                        </select>
                        
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 col-sm-3 col-xs-12 control-label">&nbsp;</label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                        <div class="checkbox" style="margin-top:0;"> 
                            <label for="ExaminationTypeIsmultipletimes"> 
                                <?php echo $this->Form->checkbox('ExaminationType.ismultipletimes', array('hiddenField' => false, 'class' => 'mr-xs', 'id' => 'ExaminationTypeIsmultipletimes')); ?>Can take exam more than once?
                            </label> 
                        </div>
                    </div>
                </div>
                                
<!--                <div class="form-group">
                    <label for="ExaminationTypeAvailablity" class="col-md-3 col-sm-3 col-xs-12 control-label"><sup style="color:red;">*</sup>Examination Category Availability</label>
                    <div class="col-md-9 col-sm-9 col-xs-12">                     

                        <?php
//                        echo $this->Form->input('ExaminationType.availability', array(
//                            'before' => '<div class="radio"><label for="ExaminationTypeAvailabilitySchool">',
//                            'separator' => '</label></div><div class="radio"><label for="ExaminationTypeAvailabilityPractice">',
//                            'after' => '</label></div>',
//                            'options' => array('school' => 'For School', 'practice' => 'For Practice Exam'),
//                            'type' => 'radio',
//                            'label' => false,
//                            'div' => false,
//                            'required' => true,
//                            'legend' => false,
//                            'hiddenField' => false
//                        ));
                        ?>
                         Output HTML Start 
                        <div class="radio">
                            <label for="">
                                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                                Option one is this and that&mdash;be sure to include why it's great
                            </label>
                        </div>
                         Output HTML End 
                        
                    </div>
                </div>-->
<!--                <div class="form-group" style="margin-bottom: 4px;">
                    <label for="ExaminationTypeInfo" class="col-md-12 col-sm-12 col-xs-12 control-label text-left" style="font-size: 13px; font-weight: normal;">
                        <span class="glyphicon glyphicon-info-sign" ></span>&nbsp;Note:&nbsp;
                        <small>Availability option indicates, all the examinations of this category will only show either for school online Exam or Practice Exam.</small>
                    </label>
                </div>-->
                <?php echo $this->Form->end(); ?>
                
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-default" data-dismiss="modal">Close</a>
                <input type="button" class="btn btn-primary" id="saveExamTypeData" value="Save changes" style="" >
            </div>
        </div>
    </div>
</div>
<!-- Start Add School Modal-->

<!-- Start Category delete Modal-->
<div class="modal fade" id="deleteExamTypeModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Delete Exam Type</h4>
      </div>
      <div class="modal-body">
          <p></p> 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary examTypeDeleteConfirm" data-isChecked="false">Ok</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- End Category delete Modal -->

<?php echo $this->element('JS/external-scripts'); ?>
<script src="<?php echo Router::url('/', true); ?>js/underscore-min.js"></script>
<script src="<?php echo Router::url('/', true); ?>js/jquery.form.js"></script>
<script src="<?php echo Router::url('/', true); ?>js/date.format.js"></script>
<script src="<?php echo Router::url('/', true); ?>js/exam-type-management.js"></script>
<script type="text/javascript">
    $(function () {
        
        $('select#ExaminationTypeLimit, input#ExaminationTypeSearch, input#ExaminationTypeOrder', '.filters').bind("change", changePaginator); // orange
        
        $('table.dataTable thead .table-heading').click(function(){
            var parentScop = this;
            var orderName = $(this).attr('data-order');
            var orderType = ($(this).attr('data-order-type') == 'asc')?'desc':'asc';
            
            $('#ExaminationTypeOrder').val(orderName);
            $('#ExaminationTypeOrderType').val(orderType);
            
            $('table.dataTable thead .table-heading').each(function(index, element){
                $(element).removeClass('sorting_'+$(parentScop).attr('data-order-type')).addClass('sorting');
            });
            $(this).removeClass('sorting').addClass('sorting_'+orderType);
            $(this).attr('data-order-type', orderType);
            changePaginator();
            //console.log('orderName : '+orderName+'\n'+'orderType : '+orderType);
        });
        
    });
    
    function clearAllFilters() {
        $('input#ExaminationTypeSearch', '.filters').val('');
        $('select#ExaminationTypeLimit', '.filters').val('');
        changePaginator();
    }
    function changePaginator() {
        var passed = $.parseJSON('<?php echo json_encode($this->passedArgs) ?>');
        var base = '<?php echo $this->Html->url('/', true) ?>';

        var newurl = base+'examination_managements/types';
        
        if (passed.parent_id !== undefined)
            newurl += '/parent_id:'+passed.parent_id;
        
        var searchData = $('input#ExaminationTypeSearch', '.filters').val();
        // if (passed.search !== undefined){
        //     newurl += '/search:'+passed.search;
        // }else 
        if(searchData){
            newurl += '/search:'+encodeURI(searchData);
        }

        if ($('select#ExaminationTypeLimit', '.filters').val() != '')
            newurl += '/limit:'+$('select#ExaminationTypeLimit', '.filters').val();
        if ($('input#ExaminationTypeOrder', '.filters').val() != '')
            newurl += '/order:'+$('input#ExaminationTypeOrder', '.filters').val();
        if ($('input#ExaminationTypeOrderType', '.filters').val() != '')
            newurl += '/orderType:'+$('input#ExaminationTypeOrderType', '.filters').val();

        window.location = newurl;
    }
    
</script>