@charset "utf-8";
/* CSS Document */


@media (max-width: 1200px){
}

@media (max-width: 992px) {
.navbar-nav > li{
	padding-left:20px;
}
.points ul li {
    font-size: 18px;
    line-height: 30px;
    padding: 0 0 0 35px;
}
.footer_navigation ul li{
	padding:0 18px;
}
.social_icon ul li{
	margin-left:15px;
}
.calender_section{
	margin-top:20px;
}
}

@media (max-width: 767px) {
.man_image{
   display:none;
	}
.text_copy{
   text-align:center;
   text-transform:capitalize;
	}
.power_by{
    text-align:center;
	text-transform:capitalize;
	}
.social_icon{
	text-align:center;
    
	}
.footer_navigation ul li a{
	text-transform:capitalize;
	font-weight:300;
	font-size:11px;	
}
.footer_navigation ul{
	text-align:center;
}
.footer_navigation ul li{
    padding: 0 6px 0 0;
	background:url("../../img/front-end/footer_na_d.png") no-repeat scroll right center;
}
.footer_navigation{
	margin-top:0;
	margin-bottom:20px;
}
.points ul li {
    background: rgba(0, 0, 0, 0) url("../../img/front-end/list_bullet.png") no-repeat scroll left 3px;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    
}
.register_bottom{
	padding:0;
	background:none;
	border:none;
}
.cooks_chefs{
	text-align:center;
}
.form_section{
	text-align:center;
	margin-bottom:20px;
	margin-top:0;
}
.form_section h3{
	font-size:18px;
}
.form_section p{
	font-size:14px;
	margin:10px 0;
}
.form_section label{
	margin:0 auto;
}
.caption_bx h4{
	font-size:16px;
	line-height:25px;
}
.bx_heading h3{
	font-size:18px;
}
.bx-wrapper{
	margin-bottom:25px;
}
.bx_heading{
	margin-top:15px;
}
.login_res ul li:first-child{
	display:block;
}
.login_res ul li:last-child{
	display:none;
}
.navbar-nav{
	background: #eee none repeat scroll 0 0;
    float: left;
    margin:10px 0 0 0;
    position: absolute;
    width: 100%;
    z-index: 1001;
	padding:10px;
	transition: all 0.8s ease-in-out 0s;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
	background:none;
	padding-bottom:0;
}
.message_box{
	display:none;
}
.login_res{
	position:absolute;
	background:none;
	z-index:10;
	left:88px;
	top:6px;
	width:150px;
    left: 50%;
    margin-left:-75px;
}

.logo{
	z-index:10;
	position:relative;
	top:5px;
	margin-bottom:-2px;
}
.login_res ul li a{
color:#ed1c24 ;
	font-weight:bold;
}
.navbar-default{
	margin-top:0;
}
.navbar-toggle{
	border:none;
	margin-right:0;
	margin-bottom:0;
	padding:0;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
	background:none;
}
.navbar-toggle .icon-bar {
    border-radius: 1px;
    display: block;
    height: 3px;
    width: 30px;
	background:#ed1c24 !important;
}
.login_res ul li{
	float:left;
}
.login_res ul li:nth-child(2){
	background:none;
}
.navbar-nav > li > a{
	padding:10px 0;
}
.navbar-nav > li{
	padding-left:0;
}
.nav a:hover{
	background:none;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form{
	border:none;
}
.form_box_open{
	display:none !important;
}
.inner_banner_caption{
	text-align:center;
}
.innerbanner_image{
	text-align:center;
	margin-top:20px;
}
.about_form_section{
	width:100%;
}
.about_form_section input[type="text"], .about_form_section select, .about_form_section label, .about_form_section input[type="submit"]{
	width:100%;
}
.inner_banner_caption{
	margin-top:0;
}
.about_text{
	margin-top:20px;
	margin-bottom:20px;
}
.about_form_section{
	margin-bottom:20px;
}
.innerbanner_image img{
	text-align:center;
	float:none;
}
.innerbanner_image{
	display:none;
}
.login_section_login label{
	width:100%;
	text-align:center;
}
.login_section_login span.user{
	width:100%;
}
.login_section_login span.password{
	width:100%;
}
.login_section_login{
	padding:0px 10px;
}
.login_section_login h3{
	top:-18px;
}
.login_section_login a{
	text-align:center;
}
.login_section_login input[type="submit"]{
	float:none;
	margin-top:0;
}
.empty{
	display:none;
}
.login_section_login input[type="text"]{
	width:100%;
}
.login_section_login input[type="password"]{
	width:100%;
}
.login_section_login span.phone{
	width:100%;
}
.login_section_login span.mail{
	width:100%;
}
.login_section_login span.location{
	width:100%;
}
.select_section{
	width:100%;
}
.login_section_login span.cui{
	width:100%;
}
.login_section_login span.pen{
	width:100%;
}
.login_section_login textarea{
	width:100%;
}
.registration_submit{
	width:100%;
	margin-top:20px !important;
}
.login_section_login a{
	font-size:13px;
}
.login_section_login p{
	font-size:13px;
}
.chefe_cook label{
	width:100%;
}
.chefe_cook select{
	width:100%;
	margin:10px 0;
}
.chefe_cook label:before{
	top:11px;
}
.chefe_cook label:after{
	top:20px;
}
.chefe_cook input[type="text"]{
	width:100%;
	margin-right:0;
}
.client_details{
	margin:0;
	padding-bottom:20px;
	border-right:none;
}
.client_text {
    float: none;
    text-align: center;
    width: 100%;
}
.client_image{
	margin:0 auto;
	float:none;
}
.list_first_row{
	border-bottom:none;
}

.pegination_section {
    float: none;
    margin: 17px 0 35px;
    text-align: center;
    width: 100%;
}
.faq_page{
	margin-top:20px;
}
.privacy{
	margin-top:20px;
}
    .right_bar{
        position: relative;
    }
    .dashboard_title img{
        max-width: 100%;
    }

}

@media (max-width: 359px) {
	.image_uploadarea{
		width:100%;
		margin:0px;
		
	}
	.image_load{
		margin:0 auto;
		float:none;
	}
	.image_load_button{
		float:none;
		margin:20px auto 0;
	}
	.login_section_login{padding:0px;}
	.search_by_date{float:none;}
	.mobileview{display:block}
.search_by_date span input[type="text"]{width:117px;}
}
/*@media (min-width: 568px) and (max-width: 767px){ 
	.client_details{
		width:50%;
	}
	
}*/
@media (min-width: 768px) and (max-width: 1024px){
	.inner_banner_caption{
		margin-top:20px;
	}
	.inner_banner_caption p{
		font-size:14px;
		line-height:20px;
	}
	
}
