body {
	font-family: 'Roboto', sans-serif;
	
}

.content {/*max-width:1140px;*/
	max-width: 100%;
	padding-top: 80px;
	padding-bottom: 40px;
}
.navbar-header {
	min-height: 80px;
}
.dashboard_title {
	background: url(../../img/front-end/header_g.jpg) repeat left top;
	min-height: 58px;
	width: 263px;
	float: left;
}
.dashboard_title h1 {
	font-weight: 600;
	font-size: 24px;
	color: #fff;
	text-align: left;
	margin: 0px;
	padding: 0px;
	
}
.dashboard-header {
	background: url(../../img/front-end/header_g.jpg) repeat left top;
	min-height: 80px;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	z-index: 10000;
}
.easy-sidebar-toggle {
	width: 22px;
	height: 30px;
	
	background: url(../../img/front-end/arrow_l.png) no-repeat;
	display: block;
	text-indent: -9999px;

	outline: none;
    position: absolute;
    right: -22px;
    top: 102px;
}
.easy-sidebar-toggle:focus {
	outline: none;
}
.navbar {
	border: none;
}
.navbar-inverse {
	background: url(../../img/front-end/header_g.jpg) repeat left top;
}
.navbar-nav li a span {
	display: inline-block;
	width: 20px;
	height: 20px;
	vertical-align: top;
	margin-right: 5px;
}
.navbar-nav li a span.dashboard-icon {
	background: url(../../img/front-end/dashboard-icon.png) no-repeat center center;
}
.navbar-nav li a span.ediat-icon {
	background: url(../../img/front-end/ediat-icon.png) no-repeat center center;
}
.navbar-nav li a span.booking-history-icon {
	background: url(../../img/front-end/booking-history-icon.png) no-repeat center center;
}
.navbar-nav li a span.transaction-history-icon {
	background: url(../../img/front-end/transaction-history-icon.png) no-repeat center center;
}
.navbar-nav li a span.rating-icon {
	background: url(../../img/front-end/rating-icon.png) no-repeat center center;
}
.navbar-inverse .navbar-nav > li > a {
	color: #cfb2b3;
	font-size: 16px;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
	background: #1e0e0f;
	color: #cfb2b3
}
.dashboard-header-right {
	float: right;
}
.topbarmenu {
	list-style: none;
	margin-top: 18px;
	display: block;
}
.topbarmenu li {
	display: inline-block;
	margin-right: 30px;
	color: #fff;
	font-size: 14px;
}
.topbarmenu li:last-child {
	margin-right: 15px;
}
.topbarmenu li.visit-site a {
	background: url(../../img/front-end/visit-site-icon.png) no-repeat 0% 50%;
	padding-left: 20px;
	color: #fff;
}
.topbarmenu li.cal {
	background: url(../../img/front-end/cal-icon.png) no-repeat 0% 50%;
	padding-left: 20px;
}
.topbarmenu li.logout a {
	background: url(../../img/front-end/logout-icon.png) no-repeat 0% 50%;
	padding-left: 20px;
	color: #fff;
}
.dashboard-title {
	color: #1d1d1d;
	font-size: 23px;
	border-bottom: 2px solid #ed1c24;
	font-weight: 400;
	margin-top: 15px;
	padding-bottom: 5px;
	position: relative;
}
.dashboard_breadcrumb {
	position: absolute;
	right: 0px;
	top: 3px;
	font-size: 14px;
}
.dashboard_breadcrumb a {
	color: #1d1d1d
}
.table {
	background: #fff;
	border-radius: 5px;
	border: 1px solid #ccc;
	margin-top: 20px;
	padding: 15px 15px 50px;
	position: relative;
}
.first_table {
	margin-top: 15px;
}
.first_table th {
	font-size: 14px;
	font-weight: 400;
	color: #1d1d1d;
}
.first_table th, .first_table td {
	border: 1px solid #eeeeee;
	padding: 5px 10px;
	position: relative;
}
.first_table td {
	color: #808080;
}
.dashboard-footer {
	background: #e5e5e5;
	
	position: fixed;
	width: 100%;
	padding: 10px 0px;
	bottom: 0px;
	left: 0px;
	z-index: 10000;
}
.thlink {
	width: 10px;
	height: 17px;
	background: url(../../img/front-end/thlinkbg.png) no-repeat;
	position: absolute;
	top: 50%;
	right: 10px;
	display: block;
	transform: translate(0%, -50%);
	-webkit-transform: translate(0%, -50%);
	-moz-transform: translate(0%, -50%)
}
.thlink a {
	width: 100%;
	height: 100%;
	display: block;
	text-indent: -9999px;
}
a.accept {
	background: #68a064;
	width: 100%;
	padding: 3px 0px;
	text-align: center;
	color: #fff;
	border: 1px solid #a4c6a2;
	display: block;
}
a.cancle {
	background: #dd7478;
	width: 100%;
	padding: 3px 0px;
	text-align: center;
	color: #fff;
	border: 1px solid #ebadb0;
	display: block;
}
a.pay {
	background: #68a064;
	width: 100%;
	padding: 3px 0px;
	text-align: center;
	color: #fff;
	border: 1px solid #a4c6a2;
	display: block;
}
a.view {
	background: url(../../img/front-end/eye-icon.png) no-repeat;
	width: 18px;
	padding: 0px;
	display: block;
	text-indent: -9999px;
	margin-top: 5px;
}
.shtm {
	display: none;
	position: absolute;
	top: 19px;
	right: 15px;
	width: 20px;
	height: 20px;
	text-indent: -9999px;
	background: url(../../img/front-end/down-arrow.png) no-repeat;
}
.shtm:focus {
	outline: none;
}
a.vm {
	display: inline-block;
	position: absolute;
	bottom: 20px;
	right: 15px;
	background: url(../../img/front-end/plus-icon.png) no-repeat right center;
	padding-right: 20px;
	border-bottom: 1px solid #1d1d1d;
	font-size: 13px;
	color: #1d1d1d;
}
a.vm:hover {
	text-decoration: none;
}

.total_amount {
	float: right;
}
.total_amount span {
	color: #f00;
}
/**********edit profile**************/
.login_page {
	margin: 82px 0 120px 0;
	padding: 0;
	float: left;
	width: 100%;
}
.login_section_login {
	width: 100%;
	float: left;
	text-align: center;
	padding: 0px 10px 0 70px;
	margin-top: 20px;
}
.login_section_login h3 {
	color: #ed1c24;
	font-size: 28px;
	
	margin: 0px 0 0px 0;
	padding: 0 30px;
	text-transform: uppercase;
	background: #fff;
	display: inline-block;
	position: relative;
	top: -68px;
}
.login_section_login label {
	color: #5d5959;
	font-size: 18px;
	
	margin: 5px 10px 12px 0;
	padding: 0;
	font-weight: normal;
	width: 35%;
	float: left;
	text-align: right;
}
.login_section_login a {
	text-decoration: underline;
	color: #ed1c24;
	font-size: 16px;
	
	margin: 5px 0 15px 0;
	padding: 0;
	font-weight: normal;
	width: 100%;
	display: block;
	text-align: left;
}
.login_section_login input[type="text"] {
	width: 98%;
	height: 38px;
	float: left;
	margin: 0 0 20px 0;
	padding: 0 0 0 45px;
	border: #e3e3e3 1px solid;
	position: relative;
}
.login_section_login span.user {
	margin: 0;
	padding: 0;
	position: relative;
	display: inline-block;
	width: 63%;
}
.login_section_login span.user:before {
	position: absolute;
	border-right: #e3e3e3 1px solid;
	content: "";
	left: 0;
	top: 0;
	width: 41px;
	height: 38px;
	background: url(../../img/front-end/user_login.png) no-repeat 14px center;
	z-index: 2;
}
/** addnew **/
.login_section_login span.lock {
	margin: 0;
	padding: 0;
	position: relative;
	display: inline-block;
	width: 63%;
}
.login_section_login span.lock:before {
	position: absolute;
	border-right: #e3e3e3 1px solid;
	content: "";
	left: 0;
	top: 0;
	width: 41px;
	height: 38px;
	background: url(../../img/front-end/lock-icon.png) no-repeat 14px center;
	z-index: 2;
}
/**end addnew **/
.login_section_login span.phone {
	margin: 0;
	padding: 0;
	position: relative;
	display: inline-block;
	width: 63%;
}
.login_section_login span.phone:before {
	position: absolute;
	border-right: #e3e3e3 1px solid;
	content: "";
	left: 0;
	top: 0;
	width: 41px;
	height: 38px;
	background: url(../../img/front-end/phone.png) no-repeat 14px center;
	z-index: 2;
}
.login_section_login span.mail {
	margin: 0;
	padding: 0;
	position: relative;
	display: inline-block;
	width: 63%;
}
.login_section_login span.mail:before {
	position: absolute;
	border-right: #e3e3e3 1px solid;
	content: "";
	left: 0;
	top: 0;
	width: 41px;
	height: 38px;
	background: url(../../img/front-end/mail.png) no-repeat 11px center;
	z-index: 2;
}
.login_section_login span.location {
	margin: 0;
	padding: 0;
	position: relative;
	display: inline-block;
	width: 63%;
}
.login_section_login span.location:before {
	position: absolute;
	border-right: #e3e3e3 1px solid;
	content: "";
	left: 0;
	top: 0;
	width: 41px;
	height: 38px;
	background: url(../../img/front-end/location.png) no-repeat 14px center;
	z-index: 2;
}
.login_section_login span.password {
	margin: 0;
	padding: 0;
	position: relative;
	display: inline-block;
	width: 63%;
}
.login_section_login span.password:before {
	position: absolute;
	border-right: #e3e3e3 1px solid;
	content: "";
	left: 0;
	top: 0;
	width: 41px;
	height: 38px;
}
.login_section_login input[type="password"] {
	width: 63%;
	height: 38px;
	float: left;
	margin: 0 0 15px 0;
	padding: 0 0 0 45px;
	border: #e3e3e3 1px solid;
	background: url(../../img/front-end/password_i.png) no-repeat 14px center;
}
.login_section_login input[type="submit"] {
	margin: 0 0 15px;
	padding: 10px 40px;
	background: #ed1c24;
	border: none;
	color: #ffffff;
	font-size: 16px;
	
	float: left;
}
.login_section_login input[type="submit"]:hover {
	opacity: .8;
}
.image_uploadarea {
	margin: 0 auto 30px 37%;
	padding: 0;
	width: 295px;
}
.image_uploadarea:before, .image_uploadarea:after {
	content: "";
	display: table;
}
.image_uploadarea:after {
	clear: both;
}
.image_load {
	float: left;
	width: 93px;
	height: 93px;
	margin-right: 16px;
	border: 1px solid #e3e3e3;
}
.image_load_button {
	float: left;
	margin: 24px 0 0 0;
	padding: 0;
}
.fileupload {
	width: 186px;
	height: 48px;
	position: relative;
	font-size: 14px;
	text-align: center;
	color: #fff;
	overflow: hidden;
	line-height: 28px;
	background: url(../../img/front-end/up_b.png) no-repeat;
	padding: 0px 10px;
	display: inline-block;
}
input[type="file"] {
	cursor: pointer;
	opacity: 0;
	position: absolute;
	left: 0;
	top: 0;
}
.select_section {
	margin: 0;
	padding: 0;
	width: 98%;
	float: left;
}
.login_section_login select {
	width: 100%;
	height: 38px;
	float: left;
	margin: 0 0 20px 0;
	padding: 0 0 0 45px;
	border: #e3e3e3 1px solid;
	position: relative;
}
.select_section label {
	position: relative;
	width: 100%;
	display: block;
	margin-bottom: 0px;
}
.select_section label:before {
	content: '';
	right: 1px;
	top: 1px;
	width: 30px;
	height: 36px;
	background: #ffffff;
	position: absolute;
	pointer-events: none;
	display: block;
	-webkit-border-radius: 0 3px 3px 0;
	-moz-border-radius: 0 3px 3px 0;
	border-radius: 0 3px 3px 0;
	z-index: 10;
}
.select_section label:after {
	content: '';
	right: 9px;
	top: 16px;
	padding: 0 0 2px;
	background: url(../../img/front-end/select_arrow.png) no-repeat 0 0;
	position: absolute;
	pointer-events: none;
	width: 18px;
	height: 11px;
	z-index: 10;
}
.login_section_login span.cui {
	margin: 0;
	padding: 0;
	position: relative;
	display: inline-block;
	width: 63%;
}
.login_section_login span.cui:before {
	position: absolute;
	border-right: #e3e3e3 1px solid;
	content: "";
	left: 0;
	top: 5px;
	width: 41px;
	height: 38px;
	background: url(../../img/front-end/cui.png) no-repeat 11px center;
	z-index: 2;
}
.login_section_login textarea {
	width: 98%;
	height: 96px;
	float: left;
	margin: 0 0 20px 0;
	padding: 0 0 0 45px;
	border: #e3e3e3 1px solid;
	position: relative;
}
.login_section_login span.pen {
	margin: 0;
	padding: 0;
	position: relative;
	display: inline-block;
	width: 63%;
}
.login_section_login span.pen:before {
	position: absolute;
	border-right: #e3e3e3 1px solid;
	content: "";
	left: 0;
	top: 0px;
	width: 41px;
	height: 96px;
	background: url(../../img/front-end/pen.png) no-repeat 14px 20px;
	z-index: 2;
	padding: 10px 0;
}
.login_section_login input[type="checkbox"] {
	float: left;
	margin-right: 8px;
}
.login_section_login p {
	color: #5d5959;
	font-size: 17px;
	
	margin: 0;
	padding: 0;
	float: left;
	text-align: left;
}
.login_section_login p a {
	text-decoration: none;
	text-align: left;
	display: inline;
}
.registration_submit {
	width: 62%;
}
/***********************end*******************/

/*********  *********/
.search_by_date {
	float: right;
	position: relative;
}
.search_by_date span {
	display: inline-block;
	position: relative;
}
.search_by_date span input[type="text"] {
	background: url(../../img/front-end/search-cal-icon.png) no-repeat 90% center;
	width: 166px;
	height: 23px;
	border: 1px solid #d7d7d7;
	padding-right: 18px;
	padding-left: 10px;
}
.search_by_date span input[type="submit"] {
	background: url(../../img/front-end/search-date-icon.png) no-repeat center 7px;
	width: 20px;
	height: 23px;
	border: none;
	vertical-align:bottom;
}
.ui-widget-content {
	position: absolute;
}
#ui-datepicker-div {
	left: 50%!important;
	margin-left:-125px;
	top: 23px!important;
}

span.mobileview{position:relative;}

.footer_left{float:left;}
.footer_left a{
    min-width: 185px;
    height: 40px;
    border-radius: 4px;
    background: #ababab;
    font-size: 14px;
    color: #ffffff;
    font-weight: normal;
    line-height: 40px;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    margin-right: 15px;
}
.footer_left a.save_next{
    background: #2ab2eb;
}


.footer_right{float:right;}

.footer_right a{
    min-width: 185px;
    height: 40px;
    border-radius: 4px;
    background: #005579;
    font-size: 14px;
    color: #ffffff;
    font-weight: normal;
    line-height: 40px;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    text-decoration: none;
}



/*=================23.1.17======================*/

.user_name{
    color: #eaeaea;
    font-weight: 300;
    font-size: 18px;
    margin: 12px 15px 0 0;
    padding: 0;
    float: left;
}
.user_account{
    margin-right: 46px;
    margin-top: 19px;
}
.user_pro{
    width: 44px;
    height: 44px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    background: #fff;
    float: left;
    overflow: hidden;
    
}

.question_left{
    float: left;
    width: 100%;
    margin-top: 55px;
    padding: 0 19px;
}

.question_left h2{
    margin: 0;
    padding: 0;
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;

}
.question_tab{
    margin: 20px 0 45px 0;
    padding: 0;
    float: left;
    width: 100%;
}
.question_tab li{
    float: left;
    list-style-type: none;
    margin-right: 10px;
    margin-bottom: 10px;
   
}
.question_tab li a{
    width: 29px;
    height: 29px;
    background: #005579;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    font-size: 16px;
    text-align: center;
    font-weight: normal;
    line-height: 29px;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;

}
.question_tab li a:hover{
    background: #2ab2eb;
}
.question_tab li a.active{
    background: #2ab2eb;
}
.question_tab li:nth-child(6n){
    margin-right: 0;
}
.attamp_check{
    padding: 45px 19px 40px 19px;
    float: left;
    width: 100%;
    border-top: 1px solid #006fa3;
    border-bottom: 1px solid #006fa3; 
    position: relative;
   
}
.attamp_check:after{
    border-top: 1px solid #0998dc;
    position: absolute;
    left: 0;
    top: -2px;
    width: 100%;
    content: "";
}
.attamp_check:before{
    border-bottom: 1px solid #0998dc;
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    content: "";
}

.attamp_check label{
    font-size: 14px;
    color: #ffffff;
    font-weight: normal;
    margin-bottom: 12px;
    display: block;
    position: relative;
    padding-left: 24px;
}
.attamp_check label:before{
    width: 15px;
    height: 15px;
    border-radius: 2px;
    background: #2ab2eb;
    position: absolute;
    left: 0;
    top: 2px;
    content: "";
    box-shadow: 0px 1px 2px #000;
    -moz-box-shadow: 0px 1px 2px #000;
    -webkit-box-shadow: 0px 1px 2px #000;
}
.attamp_check label:last-child{
    margin-bottom: 0;
}
.attamp_check label:last-child:before{
    background: #005579;
}


.view_all_qu{
    padding: 65px 19px 100px 0;
    margin: 0;
    float: left;
    width: 100%;
    text-align: center;
}
.view_all_qu a{
    text-decoration: none;
    font-size: 14px;
    color: #ffffff;
    text-transform: uppercase;
    border: 1px solid #4cc7fa;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    padding: 12px 25px;
    display: inline-block;
}

.content_main{
    float: left;
    width: 100%;
    padding-left: 15px;
    padding-top: 20px;
}

.right_bar{
    position: absolute;
    width: 263px;
    right: 0;
    top:80px;
    background: url(../../img/front-end/header_g.jpg) repeat left top;
    min-height: 100%;
    border-top: 1px solid #0998dc;
}
.timing_bar{
    float: left;
    width: 100%;
    margin: 0;
    padding: 0 14px;
    border-top: 1px solid #006fa3;
}
.date_bar{
    float: left;
    width: 100%;
    margin: 0;
    padding: 0 14px 50px 14px;
    border-top: 10px solid #fff;
    
}
.time_progress_bar{
    float: left;
    width: 100%;
    margin: 38px 0;
    background: #02698e;
    padding: 7px;
    border-radius: 35px;
    -moz-border-radius: 35px;
    -webkit-border-radius: 35px;
    overflow: hidden;
}
.white_bar{
    width: 100%;
    float: left;
    background: #fff;
    padding: 4px;
    border-radius: 35px;
    -moz-border-radius: 35px;
    -webkit-border-radius: 35px;
    overflow: hidden;
    height: 24px;
    position: relative;
}
.main_bar{
    float: left;
    width: 80%;
    background: #005579;
    border-radius: 35px;
    -moz-border-radius: 35px;
    -webkit-border-radius: 35px;
    overflow: hidden;
    height: 16px;
}
.prcessing_speed{
    width: 40%;
    height: 100%;
    background: #29abe2;
    float: left;
}
.prcessing_speed2{
    width: 10%;
    height: 100%;
    background: #29abe2;
    float: left;
}
.bar_value{
    position: absolute;
    right: 6px;
    top: 2px;
    font-size: 14px;
    color: #0886c2;
    font-weight: normal;
    text-align: right;
}
.text_result{
    float: left;
    width: 100%;
    margin: 0 0 105px 0;
    padding: 0;
    text-align: center;
}
.text_result h2{
    margin: 0;
    padding: 0;
    font-size: 44px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
}

.text_result p{
    margin: 15px 0 0 0;
    padding: 0;
    font-size: 16px;
    font-weight: normal;
    text-transform: uppercase;
    color: #eaeaea;
}
.footer_main{
    width: 815px;
    margin: 0 auto;
    padding: 0 36px;
}
.modal_close_b{
    position: absolute;
    right: -19px;
    top: -19px;
}
.modal_close_b a{
    width: 42px;
    height: 42px;
    background: none;
}
.modal_content h2{
    margin: 0;
    padding: 0;
    color: #5d5d5d;
    font-weight: normal;
    font-size: 24px;
}

.modal_content p{
    margin: 30px 0;
    padding: 0;
    color: #5d5d5d;
    font-weight: 300;
    font-size: 16px;
}
.modal_button{
    text-align: right;
}

.modal_button a {
    min-width: 185px;
    height: 40px;
    border-radius: 4px;
    background: #2ab2eb;
    font-size: 14px;
    color: #ffffff;
    font-weight: normal;
    line-height: 40px;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    margin-right: 10px;
}
.modal_button a.donot{
    margin-right: 0;
    background: #005579;
}


/*=================23.1.17======================*/











@media(min-width:992px) and (max-width:1199px) {
    
     .view_all_qu{
        margin-bottom: 120px;
    }
}


@media(min-width:768px) and (max-width:991px) {

    .right_bar{
        position: relative;
        float: left;
        width: 100%;
    }
    .footer_main{
        width: 100%;
    }
    .modality-inner{
        width: 90%;
    }
   

}
 @media(max-width:767px) {
.shtm {
	display: block;
}
.topbarmenu {
	display: none;
}
.table {
	overflow-x: auto;
	overflow-y: hidden;
}
.dashboard-footer {
	position: relative;
}
.first_table {
	min-width: 1024px;
}
.copyright, .powered{float:none; text-align:center;}
.total_amount {
	float: none;
}
.search_by_date{margin-top:10px;}
     .user_account {
    margin-right: 5px;
    margin-top: 3px;
}
     .dashboard_title {
	width: 40%;
}
     .user_name{
         font-size: 14px;
         margin-right: 8px;
     }
     .dashboard-header{
         min-height: 56px;
     }
     .right_bar{
         position: relative;
         width: 100%;
         float: left;
     }
     .dashboard-footer{
         float: left;
         width: 100%;
     }
     .footer_main{
         width: 100%;
     }
     .footer_left{
         float: left;
         width: 100%;
         text-align: center;
     }
     .footer_left a{
         display: inline-block;
         margin-right: 0;
         margin-bottom: 5px;
         text-align: center;
     }
     .footer_right{
         float: left;
         width: 100%;
         text-align: center;
     }
     .footer_right a{
         display: inline-block;
         margin-right: 0;
         margin-bottom: 5px;
         text-align: center;
     }
     .modality-inner{
         width: 90%;
     }
     .modal_close_b{
         right: -11px;
     }
     .modal_button{
         text-align: center;
     }
     .modal_button a{
         margin-right: 0;
         margin-bottom: 10px;
     }
     .dashboard_title {
	width: 50%;
}
    .dashboard-header{
        min-height: 49px;
    }
    .dashboard_title{
        min-height: 49px;
    }
}
@media(max-width:360px) {
.dashboard_title {
	width: 50%;
}
    .dashboard-header{
        min-height: 49px;
    }
    .dashboard_title{
        min-height: 49px;
    }
span.mobileview {
	display: block;
	margin-top: 10px;
}
.search_by_date span input[type="text"] {
	width: 117px;
}
.dashboard_breadcrumb {
	position: static;
}
#ui-datepicker-div {
	left:0%!important;
	margin-left:0px;
	
}
}

/*=====================8.10.15 message-page=========================*/
.dashboard-title-message {
	color: #696868;
	font-size: 16px;
	border-bottom: 2px solid #ed1c24;
	font-weight:  normal;
	margin-top: 15px;
	padding-bottom: 10px;
	position: relative;
	
}
.dashboard-title-message span{
	color:#000;
	font-weight:600;
}
.pegination_message{
	position: absolute;
	right: 0px;
	top: 3px;
	font-size: 14px;
}
.message_page{
	margin:25px 0 0 0;
	padding:0;
	float:left;
	width:100%;
	background:#fff;
}
.client_post{
	padding:15px 20px;
	margin:0;
	border-bottom:1px solid #ecf0f5;
	float:left;
	width:100%;
}
.client_details{
	float:left;
	width:30%;
	margin:0;
	padding:0;
}

.client_details .textdiv{
	margin-left:20px;
	float:left;
}
.client_details .textdiv p{
	font-size:14px;
	color:#000;
	
	margin:0;
	padding:0;
}
.client_details .textdiv span{
	font-size:11px;
	color:#808080;
	
	margin:0;
	padding:0;
}

.client_details .textdivimg{
	
	float:left;
}

.client_comments{
	float:left;
	width:70%;
	margin:0;
	padding:0;
	color:#1d1d1d;
	font-size:14px;
	
}
.message_details{
	margin:25px 0 0 0;
	padding:0;
	float:left;
	width:100%;
}
.client_chat{
	margin-bottom:40px;
	width:100%;
	float:left;
	padding:0;
}
.client_chat_text{
	padding:18px 20px;
	width:100%;
	float:left;
	background:#000;
	position:relative;
}
.client_chat_text:before{
	content:"";
	position:absolute;
	right:-14px;
	top:15px;
	width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 0 10px 14px;
    border-color: transparent transparent transparent #000;
}
.client_chat_text p{
	color:#cfcfcf;
	font-size:14px;
	margin:0 0 10px 0;
	padding:0;
	
}
.clien_profile_pic{
	width:100%;
	float:left;
	text-align:center;
}
.clien_profile_pic p{
	color:#ed1c24;
	font-size:14px;
	margin:5px 0 0 0;
	padding:0;
	
	line-height:16px;
	
}

.clien_profile_pic span{
	color:#808080;
	font-size:11px;
	margin:0;
	padding:0;
	
}

.user_chat{
	margin-bottom:40px;
	width:100%;
	float:left;
	padding:0;
}
.user_chat_text{
	padding:18px 20px;
	width:90%;
	float:left;
	background:#fff;
	position:relative;
}
.user_chat_text:before{
	content:"";
	position:absolute;
	left:-14px;
	top:15px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 10px 14px 10px 0;
	border-color: transparent #fff transparent transparent;
}
.user_chat_text p{
	color:#666464;
	font-size:14px;
	margin:0 0 20px 0;
	padding:0;
	
}
.user_profile_pic{
	width:100%;
	float:left;
	text-align:center;
}
.user_profile_pic p{
	color:#000;
	font-size:14px;
	margin:5px 0 0 0;
	padding:0;
	
	line-height:16px;
	
}

.user_profile_pic span{
	color:#808080;
	font-size:11px;
	margin:0;
	padding:0;
	
}
.message_type{
	margin:0;
	padding:20px 0px 0 0;
	width:100%;
	float:left;
	background:#ffffff;
	border:1px solid #c6c9ce;
	position:relative;
}
.message_type textarea{
	width:100%;
	border:none;
	height:100px;
	resize:none;
	padding:0 50px 0 15px;
}
.drag_file{
	margin:0;
	padding:10px 15px;
	border-top:1px dashed #bfbfbf;
	width:100%;
	float:left;
	color:#424040;
	font-size:14px;
	font-family: 'Open Sans', sans-serif;
}
.drag_file a{
	color:#ed1c24;
	text-decoration:none;
}
.fileupload {
    width: 19px;
    height: 18px;
    position: absolute;
    font-size: 14px;
    text-align: center;
    color: #fff;
    overflow: hidden;
    line-height: 28px;
    background:url(../../img/front-end/browse.png) no-repeat;
    padding: 0px 10px;
	right:16px;
	top:23px;
   
    
}

input[type="file"] {
    cursor: pointer;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
}
.message_section{
	margin:0;
	padding:0;
	float:left;
	width:100%;
}
.message_section input[type="button"]{
	margin-top:20px;
	padding:4px 30px;
	background:#ed1c24;
	color:#000;
	font-size:16px;
	float:right;
	border:none;
	font-weight:600;
}
.message_section input[type="button"]:hover{
	opacity:.8;
}
.v_spacer90{
	width:100%;
	height:90px;
	clear:both;
}
@media(max-width:767px) {
	.client_post{
		padding:15px 10px;
	}
	.dashboard-title-message{
		font-size:11px;
	}
	.client_details{
		text-align:center;
		padding:0 10px;
		width:35%;
		}
	.client_details .textdiv{
		margin-left:0;
		float:none;
		text-align:center;
	}
	.client_comments{
		width:63%;
		margin-left:2%;
	}
	.client_details .textdivimg{
		float:none;
		text-align:center;
	}
	
	
}
@media(min-width:768px) and (max-width:1200px){
	.client_details{
		width:40%;
	}
	.client_comments{
		width:59%;
		margin-left:1%;
		
	}
}

/*=====================8.10.15 message-page=========================*/

