<script type="text/javascript" src="<?php echo $this->webroot;?>countdownTimer/jquery.countdownTimer.js"></script>
<link rel="stylesheet" type="text/css" href="<?php echo $this->webroot;?>countdownTimer/CSS/jquery.countdownTimer.css" />
<link rel="stylesheet" type="text/css" href="<?php echo $this->webroot;?>countdownTimer/CSS/w3.css" />

<div class="right_bar">

<?php if($this->params['action'] == 'take_exam'){?>
    <div class="timing_bar">
        <div class="time_progress_bar">
            <div class="white_bar">
                <div class="main_bar"><div class="prcessing_speed" id="time_prcessing_speed">&nbsp;</div></div>
                <div class="bar_value">40%</div>
            </div>
        </div>
        <div class="text_result">
<span id="hms_timer"></span>

<!--&nbsp;&nbsp;<button id="pauseBtnhms">Pause</button>&nbsp;&nbsp;
<button id="stopBtnhms">Stop</button>->

            <!--<h2>00:29:50</h2>-->
            <p>Time Remaining</p>
        </div>
    </div>

	
    
    <div class="date_bar">
	
        <!--<div class="time_progress_bar">
            <div class="white_bar">
                <div class="main_bar"><div class="prcessing_speed2">&nbsp;</div></div>
                <div class="bar_value">40%</div>
            </div>
        </div>-->
		
		 <div class="w3-progress-container w3-light-blue time_progress_bar">
    <div class="w3-progressbar w3-blue white_bar" style="width:20%">
      <div class="w3-center w3-text-white">20%</div>
    </div>
  </div>
		
		
        <div class="text_result">
            <h2>01/30</h2>
            <p>Questions Attempted</p>
        </div>
    </div>
    <?php }?>
</div>
	<script>
	$(function(){
			$('#hms_timer').countdowntimer({
				hours : 10,
				minutes :05,
				seconds : 00,
				size : "lg",
				
			pauseButton : "pauseBtnhms",
			stopButton : "stopBtnhms"
			});
	});
	</script>