  <?php $action = $this->params['action'];?>
	<div class="col-sm-4 col-md-3">
            <div class="profile_tab">
              <div class="profile_head">
                <h2><?php echo @$schoolData['School']['name'];?></h2>
                <div class="prof_add">
                 <!-- <div class="profileimg">
                    <img src="<?php echo $this->webroot;?>images/profile_pic.png" alt="Profile Pic">
                  </div>-->
                  <div class="prof_welcome_info____" >
                    <h3>Welcome, <?php echo ucwords($schoolData['School']['manager_name']);?>
                   <?php //echo !empty($this->data['School']['manager_name']) ? ucwords($this->data['School']['manager_name']) : @$schoolData['School']['manager_name']; ?>
				   </h3>  
                  </div>
                </div>
              </div>
              <div class="prof_tab_link">
                <ul>
                 <li class="<?php echo ($action == 'my_purchased_exam') ? 'active' : ' ';?>"><a href="<?php echo $this->webroot.'schools/my_purchased_exam';?>"><i class="fa fa-credit-card" aria-hidden="true"></i>Exam Purchased</a></li>
				  <li class="<?php echo ($action == 'purchase_exam') ? 'active' : ' ';?>"><a href="<?php echo $this->webroot.'schools/purchase_exam';?>"><i class="fa fa-credit-card" aria-hidden="true"></i>Purchase Exams</a></li>
				  
				   <li class="<?php echo ($action == 'myprofile') ? 'active' : ' ';?>"><a href="<?php echo $this->webroot.'schools/myprofile/';?>"><i class="fa fa-user" aria-hidden="true"> </i> School Profile</a></li>
				<?php /*?>  <li class="<?php echo ($action == 'take_exam_list') ? 'active' : ' ';?>"><a href="<?php echo $this->webroot.'schools/take_exam_list';?>"><i class="fa fa-credit-card" aria-hidden="true"></i>Take Exam List</a></li>
				  
                  <li class="<?php echo ($action == 'manage_student') ? 'active' : ' ';?>"><a href="javascript:void(0);"><i class="fa fa-cogs" aria-hidden="true"></i>Manage Students</a></li>
                  <li class="<?php echo ($action == 'add_student') ? 'active' : ' ';?>"><a href="<?php echo $this->webroot.'schools/add_student/';?>"><i class="fa fa-plus" aria-hidden="true"></i>Add Student</a></li>
                 	 <li class="<?php echo ($action == 'student_list') ? 'active' : ' ';?>"><a href="<?php echo $this->webroot.'schools/student_list/';?>"><i class="fa fa-credit-card" aria-hidden="true"></i>Student  List</a></li>
			 	 <li class="<?php echo ($action == 'student_list_appeared_in_exam') ? 'active' : ' ';?>"><a href="<?php echo $this->webroot.'schools/student_list_appeared_in_exam/';?>"><i class="fa fa-credit-card" aria-hidden="true"></i>Student wise result</a></li>
				 
				
				 <li class="<?php echo ($action == 'student_list1') ? 'active' : ' ';?>"><a href="#"><i class="fa fa-credit-card" aria-hidden="true"></i>Question wise student answer</a></li>
				 <li class="<?php echo ($action == 'student_list1') ? 'active' : ' ';?>"><a href="#"><i class="fa fa-credit-card" aria-hidden="true"></i>Report on 	sub-strands question list</a></li>
				 <?php */?>
				 
                <li><a href="<?php echo $this->webroot.'schools/logout';?>"><i class="fa fa-sign-out" aria-hidden="true"></i> Log Out</a></li>
                </ul>
              </div>
            </div>
          </div>