@charset "utf-8";
/* CSS Document */

body{
	padding:0;
	margin:0; 
    font-family: 'Roboto Slab', serif;
    
}

.wrapper{
    margin: 0;
    padding: 0;
    background: url(../images/bg.jpg) repeat-x left top;
}
/*header*/
	 
.header{
    margin:0;
    padding:22px 0 10px 0; 
    float:left; 
    width:100%;
    background: url(../images/header_bg.jpg) repeat-x left top;
}
.logo{
    float: left;
    margin: 0;
    padding: 0;
    width: 100%;
}
.navigation_section{
    float: left;
    width: 100%;
    margin: 4px 0 0 0;
    padding: 0;
}
.navigation_bar{
    float: right;
    margin: 5px 0 0 0;
    padding: 0;
}
.registration_button{
    float: right;
    margin: 0;
    padding: 0;
	position:relative
}
.registration_button a{
    color: #119548;
    font-size: 14px;
    margin: 0;
    padding: 10px 15px;
    border-top: 1px solid #119548;
    border-bottom: 1px solid #119548;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    position: relative;
    font-weight: 300;
    transition: all 0.3s ease-in-out 0s;
}

.registration_button a:before{
    border-left: 1px solid #119548;
    height: 15px;
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    transition: all 0.3s ease-in-out 0s;
    
}
.registration_button a:after{
    border-right: 1px solid #119548;
    height: 15px;
    position: absolute;
    right: 0;
    bottom: 0;
    content: "";
    transition: all 0.8s ease-in-out 0s;
    
}

.registration_button a:hover:before{
    height: 100%;
}
.registration_button a:hover:after{
    height: 100%;
}

.registration_button{
    float: right;
    margin: 0;
    padding: 0;
	position:relative;

}

.drop_down {
	position:absolute;
	right:0px;
	top:40px;
	display:none;
	z-index:100;
	  background: #119548;
	  width:180px;

}
.drop_down > ul {
    margin: 0;
    padding: 0;
	
}
.drop_down li {
display:block;
}
.drop_down li  a{
display:block;
color:#fff !important;
border:0px;
font-weight:400;
}

.drop_down li  a:before, .drop_down li  a:after{
	display:none;
}
.drop_down li  a:hover{
color:#000 !important;

}
.registration_button:hover  .drop_down{
display:block;
}

/*navigation*/
.navigation_bar .navbar-default{
    background: none;
    border: none;
    margin-bottom: 0;
    
}
.navigation_bar .navbar-nav > li{
    margin-right: 40px;
}
.navigation_bar .navbar-nav > li > a{
    color: #010101;
    font-weight: 300;
    font-size: 16px;
    padding: 7px 0;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}
.navigation_bar .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
    background: url(../images/nav_bg.png) no-repeat center bottom;
    color: #f68d00;
}
.navigation_bar .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background: url(../images/nav_bg.png) no-repeat center bottom;
    color: #f68d00;
}
/*navigation*/

/*header*/
/*banner*/
.banner{
    float: left;
    width: 100%;
    margin: 0;
    padding: 0;
}
.banner_caption{
    position: absolute;
    top: 28%;
    left: 100px;
    width: 50%;
}
.banner_caption h2{
    font-size: 40px;
    font-weight: 100;
    color: #ffffff;
    margin: 0 0 3px 0;
    padding: 0;
    text-transform: uppercase;
}
.banner_caption h3{
    font-size: 46px;
    font-weight: bold;
    color: #ffffff;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}
.carousel-control{
    width: 27px;
    height: 27px;
    top: 78%;
    opacity: 1;
    
}
.carousel-control.left{
    background: none;
    left: 100px;
}
.carousel-control.right{
    background: none;
    left: 127px;
}
.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-prev, .carousel-control .icon-next{
    font-size: 0;
}
.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev{
    background: url(../images/slide_a.jpg) no-repeat center center;
    width: 27px;
    height: 27px;
}
.carousel-control .glyphicon-chevron-right, .carousel-control .icon-next{
    background: url(../images/slide_a2.jpg) no-repeat center center;
    width: 27px;
    height: 27px;
}

/*banner*/

/*middle*/
.schools_details_boxes{
    margin: 60px 0 0 0;
    float: left;
    width: 100%;
    padding: 0;
}
.schools_acess{
    float: left;
    width: 100%;
    background: #119548;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    padding: 5px;
}
.schools_acess_blue{
    background: #29abe2;
}
.schools_acess_inner{
    width: 100%;
    float: left;
    margin: 0;
    
    border: 1px solid #e0e1e2;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    padding: 50px 16px;
}
.schools_acess_inner_img{
    width: 100%;
    float: left;
    margin: 0;
    padding: 0;
    position: relative;
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    overflow: hidden;
}
.schools_acess_inner_img img {
width:100%;
-webkit-transition: all 0.7s ease;
-moz-transition: all 0.7s ease;
transition: all 0.7s ease;
    -webkit-transform:scale(1);
-moz-transform:scale(1);
transform:scale(1);
}


.schools_acess_inner_img:hover img {
-webkit-transform:scale(1.2);
-moz-transform:scale(1.2);
transform:scale(1.2);
}

/*
.schools_acess_inner_img:before{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 141px 0px 0 106px;
    border-color: #119548 transparent transparent transparent;
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    

}
.schools_acess_inner_img:after{
    width: 0;
    height: 0;
    border-style: solid;  
    border-width: 0 0 141px 106px;
    border-color: transparent transparent #119548 transparent;
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    

}
*/
.schools_acess_inner_text{
    float: left;
    margin: 0px;
    width: 100%;
    
}
.schools_acess_inner_text h3{
    font-size: 20px;
    color: #fff;
    font-weight: normal;
    margin: 0 0 15px 0;
    padding: 0;
}
.schools_acess_inner_text h3 img{
    margin-right: 5px;
}

.schools_acess_inner_text h4{
    font-size: 18px;
    color: #daf1e4;
    font-weight: normal;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}
.choose_school{
    float: left;
    width: 100%;
    margin: 26px 0 27px 0;
    padding: 0;
}

.choose_school a{
    color: #ffffff;
    font-size: 12px;
    margin: 0;
    padding: 6px 23px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    position: relative;
    font-weight: bold;
    transition: all 0.8s ease-in-out 0s;
}
.choose_school a:before{
    border-left: 1px solid #fff;
    height: 15px;
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    transition: all 0.8s ease-in-out 0s;
    
}
.choose_school a:after{
    border-right: 1px solid #fff;
    height: 15px;
    position: absolute;
    right: 0;
    bottom: 0;
    content: "";
    transition: all 0.8s ease-in-out 0s;
    
}
.choose_school a:hover:before{
    height: 100%;
}
.choose_school a:hover:after{
    height: 100%;
}
.choose_school a.hight_s{
    float: right;
    margin-right: 12px;
}
.schools_acess_inner_text p{
    font-size: 15px;
    font-weight: 300;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
/*middle*/
.gallery_images{
    margin: 60px 0 0 0;
    padding: 0;
    float: left;
    width: 100%;
}

.gallery_images_box:hover img{
-webkit-transform: rotateY(180deg);
-webkit-transform-style: preserve-3d;
transform: rotateY(180deg);
transform-style: preserve-3d;
}
.gallery_images_box img, .gallery_images_box:hover img {
-webkit-transition: all 0.7s ease;
transition: all 0.7s ease;
}


.gallery_images img{
    width: 100%;
}
.about_footer_section{
    float: left;
    width: 100%;
    margin: 60px 0 0 0;
    padding: 0;
}
.about_section{
    float: left;
    width: 320px;
    margin-left: 40px;
    background: #022a58;
    padding: 18px 6px 35px;
    text-align: center;
    position: relative;
    
}
.about_section:before{
    position: absolute;
    width: 40px;
    height: 100%;
    background: #002147;
    left: -40px;
    content: "";
    top: 0px;
}
.about_section:after{
    position: absolute;
    width: 40px;
    height: 65px;
    background: #fff;
    left: -40px;
    content: "";
    top: 0px;
}
.about_section h2{
    font-weight: 300;
    font-size: 18px;
    color: #fefefe;
    margin: 25px 0;
    padding: 0;
    text-transform: uppercase;
}
.about_section p{
    font-weight: #b3d2f5;
    font-size: 16px;
    color: #fefefe;
    margin: 0;
    padding: 0;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
}

.about_section a{
    color: #ffffff;
    font-size: 12px;
    margin: 15px 0 0 0;
    padding: 6px 15px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    position: relative;
    font-weight: bold;
    transition: all 0.8s ease-in-out 0s;
}
.about_section a:before{
    border-left: 1px solid #fff;
    height: 15px;
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    transition: all 0.8s ease-in-out 0s;
    
}
.about_section a:after{
    border-right: 1px solid #fff;
    height: 15px;
    position: absolute;
    right: 0;
    bottom: 0;
    content: "";
    transition: all 0.8s ease-in-out 0s;
    
}
.about_section a:hover:after{
    height: 100%;
}
.about_section a:hover:before{
    height: 100%;
}
.footer_section{
    float: left;
    width: 780px;
    margin: 0;
    padding: 0;
    background: #e0e0e0;
}
.search_section{
    float: left;
    width: 100%;
    padding: 18px 30px;
    margin: 0;
}
.search_section input[type="text"]{
    height: 47px;
    width: 511px;
    padding: 0 20px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border: none;
    font-weight: 300;
    margin-right: 13px;
}

.search_section input[type="email"] {
    border: medium none;
    border-radius: 4px;
    font-weight: 300;
    height: 47px;
    margin-right: 13px;
    padding: 0 20px;
    width: 511px;
}

.search_section input[type="submit"] {
    background: #119548 none repeat scroll 0 0;
    border: medium none;
    border-radius: 4px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 300;
    height: 47px;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out 0s;
    width: 192px;
}
.search_section input[type="button"]{
    height: 47px;
    width: 192px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border: none;
    font-weight: 300;
    transition: all 0.3s ease-in-out 0s;
   
    color: #ffffff;
    font-size: 18px;
    text-transform: uppercase;
    background: #119548;
}

.search_section input[type="button"]:hover{
    background: #0a7235;
}
.footer_nav_section{
    float: left;
    width: 100%;
    margin: 0;
    padding: 40px 30px;
    background: #002147;
}
.footer_nav_box{
    width: 33.33%;
    float: left;
    margin: 0;
    padding: 0 0 0 22px;
}
.footer_nav_box h2{
    font-weight: 300;
    font-size: 18px;
    color: #fff;
    margin: 0 0 20px 0;
    padding: 0;
}
.footer_nav_box ul{
    margin: 0;
    padding: 0;
}
.footer_nav_box ul li{
    list-style-type: none;
    margin: 0 0 4px 0;
    padding: 0;
    
}
.footer_nav_box ul li:last-child{
    margin-bottom: 0;
}
.footer_nav_box ul li a{
    color: #b3d2f5;
    font-size: 14px;
    font-weight: 300;
    margin: 0;
    padding: 0;
    text-decoration: none;
    transition: all 0.3s ease-in-out 0s;
}
.footer_nav_box ul li a:hover{
    color: #4792e6;
}
.footer_nav_box p{
    color: #b3d2f5;
    font-size: 14px;
    font-weight: 300;
    margin: 0;
    padding: 0;
}
.copy_right{
    float: left;
    width: 100%;
    margin: 0;
    padding: 16px 5px;
    font-size: 14px;
    color: #373737;
    font-weight: 300;
    text-align: center;
}

/*innerpage sushanta*/

.profile_section {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #646464;
    font-size: 16px;
    overflow: hidden;
}

img {
    width: auto;
    height: auto;
    max-width: 100%;
}

.inner_field {
    padding: 30px 0px 0 0;
}

.profile_tab {
    background: #2c4255;
    font-weight: 300;
    color: #ffffff;
    margin: 0px 0px 35px;
}

.profile_tab h2 {
    font-size: 22px;
    padding: 0px;
    margin: 0px 0px 15px;
    font-weight: 400;
}

.profile_head {
    background: #465f74;
    padding: 20px;
}

.prof_add {
    overflow: hidden;
}

.profileimg {
    float: left;
    width: 55px;
}

.profileimg img {
    border-radius: 50%;
}

.prof_welcome_info {
    margin-left: 70px;
}

.prof_welcome_info h3 {
    font-size: 17px;
    padding: 0px;
    margin: 0px;
    font-weight: 300;
}

.prof_welcome_info h3 span {
    font-size: 14px;
    padding: 0px 0 10px;
    display: block;
}

.prof_tab_link ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

.prof_tab_link ul li {
    display: block;
    border-bottom: 1px solid #3b5368;
}

.prof_tab_link ul li a {
    display: block;
    font-size: 16px;
    text-decoration: none;
    color: #d4dee7;
    transition: all 0.5s ease;
    padding: 20px 15px 20px 20px;
    position: relative;
}

.prof_tab_link ul li a i {
    margin-right: 10px;
}

.prof_tab_link ul li:hover a,
.prof_tab_link ul li.active a {
    color: #fff;
    background: #1f3446;
}

.prof_tab_link ul li a:after {
    transition: all 0.5s ease;
    content: "";
    background: #f69d25;
    position: absolute;
    height: 100%;
    width: 8px;
    right: 0px;
    top: 0px;
    display: none
}

.prof_tab_link ul li:hover a:after,
.prof_tab_link ul li.active a:after {
    display: block;
}

.form_info label {
    font-weight: 300 !important;
    color: #4c4b4b !important;
    width: 38%;
    float: left;
}



.form_info .inp_text {
    color: #4c4b4b !important;
    float: right !important;
    font-weight: 300 !important;
    width: 60% !important;
}

.form_info .form-group {
    padding: 0px;
}

.clear_fix {
    clear: both;
}

.main_headding {
    border-bottom: 1px dashed #a1a1a1;
    padding-bottom: 35px;
    margin-bottom: 35px;
}

.main_headding h2 {
    padding: 0px;
    margin: 0px 0px 30px;
    color: #1f3446;
    font-weight: 400;
    font-size: 22px;
    font-family: 'Roboto Slab', serif;
}

.main_headding h3 {
    padding: 0px;
    margin: 0px 0px 15px;
    color: #222222;
    font-weight: 400;
    font-size: 36px;
    font-family: 'Roboto Slab', serif;
}

.main_headding span {
    color: #7f7e7e;
    font-weight: 400;
    font-family: 'Roboto Slab', serif;
}

.form-group textarea {
    height: 120px;
    resize: none;
}

.def_btn {
    transition: all 0.5s ease;
    background: #119548;
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    padding: 10px 20px;
    font-family: 'Roboto Slab', serif;
    text-transform: uppercase;
}
.def_btn.active {
    position: relative; 
	display:inline-block;
}
.btn_paypal.btn.def_btn.active::after {
    bottom: -30;
    content: "";
    display: block;
    position: absolute;
    right:35%;
	 border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #05692F;
    height: 0;
    width: 0;
}
.def_btn:hover , .def_btn.active{
    background: #05692F;
	color:#fff;
}

.def_btn2 {
    display: inline-block;
    transition: all 0.5s ease;
    border-radius: 0px !important;
    position: relative;
    background: none;
    color: #119548;
    border: 1px solid #119548 !important;
    font-size: 18px;
}

.def_btn2 input {
    transition: all 0.5s ease;
    border-radius: 0px !important;
    position: relative;
    background: none;
    color: #119548;
    border: 0px !important;
    font-size: 18px;
    font-weight: 300;
    padding: 10px 20px;
    font-family: 'Roboto Slab', serif;
    text-transform: uppercase;
}

.def_btn2:hover input {
    background: #05692F;
}

.def_btn2:after {
    content: "";
    width: 1px;
    background: #fff;
    height: 20px;
    position: absolute;
    left: -1px;
    top: 26px;
}

.contact_info .col-sm-6 {
    margin-bottom: 13px;
}

.iframe {
    margin-top: 10px;
}

.def_btn2:hover:after,
.def_btn2:hover:before {
    height: 0px;
}

.def_btn2:before {
    content: "";
    width: 1px;
    background: #fff;
    height: 20px;
    position: absolute;
    right: -1px;
    top: -1px;
}

.contact_add_botton img {
    border-radius: 5px;
}

.contact_add_botton img {
    width: 100%;
}

.iframe {
    width: 100% !important;
    height: 200px;
    border: 4px solid #dadada !important;
}

.adj_btn {
    margin-top: -120px;
    position: relative;
}

.contact_head {
    padding-bottom: 15px;
}

.contact_head h2 {
    text-transform: uppercase;
    color: #3c3b3b;
    font-weight: 400;
    font-size: 22px;
    font-family: 'Roboto Slab', serif;
}

.contact_head h2 span {
    font-weight: 300;
    font-size: 14px;
    padding-bottom: 5px;
    display: block;
}

.contact_head h2 strong {
    font-weight: 400;
    padding-right: 30px;
    display: inline-block;
    background: url(../images/arrow1.png) no-repeat right center;
}

.contact_info {
    padding-bottom: 25px;
}

.contact_info h3 {
    text-transform: uppercase;
    color: #3c3b3b;
    font-weight: 400;
    font-size: 16px;
    font-family: 'Roboto Slab', serif;
}

.contact_info h3 span {
    font-weight: 300;
    font-size: 14px;
    padding-bottom: 5px;
    display: block;
}

.contact_info h3 strong {
    font-weight: 400;
    padding-right: 30px;
    display: inline-block;
    background: url(../images/arrow1.png) no-repeat right center;
}

.inner_block {
    padding-bottom: 30px;
}

.inner_block p {
    padding-bottom: 20px;
    margin-bottom: 0px;
}

.contact_info p a {
    color: #646464;
}

.req_field {
    text-align: right;
}


.form_info  .cal_month {
    float: left ;
    width: 29% ;
}
 
.cal_month  .btn-group.bootstrap-select.show-tick.form-control.inp_text {
    width: 93% !important;
}
.form_info  .cal_year {
    float: right ;
    width: 29% ;
}
.cal_year  .btn-group.bootstrap-select.show-tick.form-control.inp_text {
    width: 93% !important;
}

#payment_info_validate  .form-group{
    position: relative;
	   margin-bottom: 24px;
	
}
#payment_info_validate  .btn.def_btn {
    margin-left: 13px;
}
.error {
    bottom: -20px;
	left:0px;
    position: absolute;
	    color: red;
    font-size: 13px;
	margin-left:44%;
	width:100%;
}

table{
width:100%
}
table th{
padding:10px;
color:#fff;
}
table th{
background: #1f3446;
padding:10px;
color:#fff;
}

table td{
padding:10px;
color:#000;
}

table td a {
    color: #A0760A;
	font-weight:bold;

    text-decoration: none;
}
table td a:hover {
    color: #694D06;
}


	.prof_details table tr:nth-child(odd){ 
		background: #EFEBE6;
	}
	.prof_details table tr:nth-child(even){
		background: #E5DCD3;
	}


.view_qsd h2{
font-size:20px;
}

.view_qsd h4{
font-size:16px;
padding:20px 0px 10px;;
}

.view_qsd h3{
font-size:16px;
color:#CB9A00;
}

.view_qsd  .qs_num_va {
  float: left;
}
.view_qsd  .qus {
  padding-bottom: 0px !important;
}

.ans_field{ overflow:hidden}

.qus_details { padding:20px 36px; color:#CB9A00; }
.qus_details  p{ padding:0px  0px  0px; color:#CB9A00; display:inline-block }

.pagination_qa {
  text-align: right;
  padding: 15px;
  margin:20px 0px 35px;
  background: #D2D1CE;
  color: #fff;
}

.pagination_qa  strong{
  color: #1F3446;
} 
.pagination_qa  a{
padding:5px;
display:inline-block;
  color: #1F3446;
}
.prev a {
color:#1F3446;

}
.disabled  {
color:#1F3446;

} 
span.current {
  color: #FFF;
  background: #1F3446;
  padding: 2px 5px;
}
/*innerpage sushanta*/

.attempt_details {

}

.attempt_qus{
overflow:hidden;
}

.attempt_qus  ul{
padding:0px;
margin:0px;
list-style:none;
overflow:hidden;
}

.attempt_qus  ul li{
border: 1px solid #fff;
    float: left;
    margin:2% 0 2% 1.8%;
    overflow: hidden;
    text-align: center;
    width: 32%;
		  background: #F69D25;
  color: #FFF;

	
}
.attempt_qus li:nth-child(1) {
    margin-left: 0 !important;
	background:#2C4255
}
.attempt_qus li:nth-child(2) {
	background:#2C4255
}

.qus p  span{
	   font-family: Helvetica,sans-serif !important;
    font-size: 16px !important;
}

.attempt_qus  ul li span{
  border-right: 1px solid #fff;
  display:block;
      width: 70%;
	      float: left;
		      padding: 15px 2%;

}
.attempt_qus  ul li strong{
  display:block;
      width: 25%;
	  	      float: left;
		      padding: 15px 2%;


}

.attempt_res {

}

.regi_main{
   /* margin-left:1.5%;*/
   overflow-x: hidden;
}
.rigis_right {
   /* width:48.9% !important;*/
}

.rgerror {
    color: red;
    font-size: 13px;
   /* margin-left: 44.5%;*/
}
.regi_main .form_info{
    background: #ece5d6;
    border: 1px solid #efefef;
    margin-bottom: 25px;
}

.regi_main .form_info{
    padding: 25px;
    border-radius: 10px;
    background: #f6f6f6;
    border: 1px solid #efefef;
}
.regi_main  .form_info .inp_text {
    width: 100% !important;
}

.regi_main h2 {
    font-family: "Roboto Slab",serif;
    font-size: 24px;
    padding-bottom: 15px;
    margin-top: 0px;
}
.form-group {
    position: relative;
}


.regi_main .fa {
    background:none;
    border: 0px !important;
    position: absolute;
 font-size: 18px;
    right: 10px;
    top: 8px;
    color:rgba(11, 7, 7, 0.22);
}
input, button, select, textarea,.def_btn {
    font-family: arial;
    }
.regi_main .filter-option.pull-left {
    color: #8f8e8e;
}
.regi_main .form-group a{
    color: #119549;

}
.regi_main .form-group .def_btn{ width: 100%; display: block; }
.regi_main .form-group .forget{
    color:#cb0004 !important;
    text-decoration: underline !important;

}
.regi_main .adjpad{
    padding: 20px;
}
.regi_main .form-group {
    margin-bottom: 20px;
}

.led_wid label {
    width: 100%!important;
	
}
#captcha_txt{
	font-size:13px;
	
}
.mr-xs {
    margin-right: 5px !important;
}

/*added by Sushanta on 02-03-2017*/

.corrct_ans_qs {
	color:green;
}

.wrong_ans_qs {
	color:red;
}

.notattempt_ans_qs {
	color:orange;
}

.wrong_qa {
	background:red !important;
}  

.right_qa {
	background:green !important;
}

.question_left {
    padding: 0 12px;
}
.ui-tabs .ui-tabs-nav li {
    margin: 8px 5px 4px !important;
}
.question_tab_ {
    position: relative !important;
}
.unattempt_qa {
	background:orange !important;
}
.question_tab_ {
    position: relative !important;
}
.question_tab_  .ui-tabs-nav {
    padding: 15px 0;
}

.attampt_flag {
    border-bottom: 1px solid #006fa3;
    border-top: 1px solid #006fa3;
    padding: 24px 8px 51px;
    position: relative;
    width: 100%;
}
.attampt_flag::after {
    border-top: 1px solid #0998dc;
    content: "";
    left: 0;
    position: absolute;
    top: -2px;
    width: 100%;
}
.attampt_flag::before {
    border-bottom: 1px solid #0998dc;
    bottom: -2px;
    content: "";
    left: 0;
    position: absolute;
    width: 100%;
}
.attampt_flag .res_point span  {
	display:inline-block;
	margin-right:10px;

}

.attampt_flag div  {
    color: #ffffff;
    display: block;
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 12px;
    position: relative;
}


.correct_answer {
    background: green none repeat scroll 0 0;
    border-radius: 2px;
    box-shadow: 0 1px 2px #000;
    height: 15px;
    width: 15px;
}

.wrong_answer {
    background: red none repeat scroll 0 0;
    border-radius: 2px;
    box-shadow: 0 1px 2px #000;
    height: 15px;
    width: 15px;
}
.not_attemptedqs {
    background: orange none repeat scroll 0 0;
    border-radius: 2px;
    box-shadow: 0 1px 2px #000;
    height: 15px;
    width: 15px;
}

.right_bar  .attempt_qus li:nth-child(1) {
    margin-left: 5% !important;
}
.right_bar  ul li {
    float: none;
    margin: 20px 16px 30px ;
	width:auto;
	background:black;
	font-size:22px;
	  background:  none  !important; 
  border: 1px solid #0998DC;
}
.right_bar  ul li  span{
    float: none;
	width:auto;
	  border: none !important;
	
}
.right_bar  ul li  strong{
    float: none;
	width:auto;
		  border: none !important;
}
.right_bar ul li:nth-child(1)  strong{
	  background: rgb(255, 112, 38) !important;
}
.right_bar ul li:nth-child(2)  strong{
	  background: green !important;
}
.right_bar ul li:nth-child(3) strong {
	  background: orange !important;
}
.user_name a {
    color: #eaeaea;
}

.bread_crumb {
 padding:27px 0 0 0 ;
}
.bread_crumb a{
color:#0998dc;
display:inline-block;
padding:3px;
}
.online_exm_lg {
	padding: 42px 0;
}
.exam_instruction {
 font-family: Tahoma,serif !important;
    font-weight: 400;
    line-height: 24px;
}
.start_exam a {
	color:#ffffff !important;
}

a.asc {
    padding-right: 20px;
     background: url(../img/sort_asc.png) no-repeat right  !important;
}
 
a.desc {
    padding-right: 20px;
    background: url('../img/sort_desc.png') no-repeat top right !important;
}

.prof_form table  tr  th a {
	color:#d4dee7;
   background: url('../img/sort_both.png') no-repeat top right;
   padding:0 18px 0 0;
}

.blink {
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

.select1 select {
    padding: 0px;
    margin: 1px 3px 0;
    font-size: 15px;
}
.select1  label {
   width: 21.5% !important;
    float: left;
}
.input.datetime {
    float: left;
}
#SchoolTakeExamExamDateTimeHour ,#SchoolTakeExamExamDateTimeMin,#SchoolTakeExamExamDateTimeMeridian{
    display: inline-block;
}

  .exam_chkout {
        float:right;
		margin-top:20px;
	}
	
	.exam_pay_div {
	   float:right;
	   	margin-top:20px;
	}

.exceedErr {
  color: red;
  margin-bottom:10px;
}
.exceedErr span {
	font-size: 15px!important;
}

	.exam_chkout {
		float:right;
		margin-top:20px
	}
	
	.chk-unchk-btn {
			background: #f69d25 none repeat scroll 0 0;
			color: #fff;
			transition: all 0.5s ease 0s;
			border: 1px solid transparent;
			border-radius: 4px;
			cursor: pointer;
			display: inline-block;
			font-weight: normal;
			line-height: 1.42857;
			margin-bottom: 0;
			padding: 4px;
			text-align: center;
			vertical-align: middle;
			white-space: nowrap;
	}

	.not_found {
		margin:30px 0 0 280px;
	}
	.not_found span {
		font-weight:bold;
		color:red;
	}
	