 
			
			
			
			
			   <div class="container">
      <div class="profile_section inner_field">
        <div class="row">
          <div class="col-sm-12">
            <div class="contact_details">
                <div class="inner_block">
                  <div class="contact_head">
                      <h2>
                        <strong> Email Status</strong>
                      </h2>
                    </div>
                    <?php echo $this->Session->flash();?>
					
                </div>

              <div class="contact_add_botton">
                <div class="row">
                 <div class="col-sm-4">
                      <img src="<?php echo $this->webroot;?>images/add_pic1.jpg" alt="">
                 </div>
                 <div class="col-sm-4">
                      <img src="<?php echo $this->webroot;?>images/add_pic2.jpg" alt="">
                 </div>
                 <div class="col-sm-4">
                      <img src="<?php echo $this->webroot;?>images/add_pic3.jpg" alt="">
                 </div>
                </div>

              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
	
	<script type="text/javascript">
function closeWindow() {
setTimeout(function() {
window.close();
}, 5000);
}

window.onload = closeWindow();
</script>