<link rel="stylesheet" href="<?php echo $this->webroot;?>TabsNextPrev/tabs.css" type="text/css" media="screen, projection"/>
	<script type="text/javascript" src="<?php echo $this->webroot;?>TabsNextPrev/js/jquery-1.3.2.min.js"></script>
	<script type="text/javascript" src="<?php echo $this->webroot;?>TabsNextPrev/js/jquery-ui-1.7.custom.min.js"></script>

    


<nav class="navbar navbar-inverse easy-sidebar">
    <div class="navbar-header"> </div>
    <div class="question_left">
       <div class="left_panel"><a href="#" class="easy-sidebar-toggle" title="Click to open menu">Toggle Sidebar</a></div>
</nav>
</div>



<div class="container-fluid">
    <div class="col-lg-9 col-md-7 col-sm-12">
      <div class="content"> 
      <div class="view_qsd">
	  <div id="page-wrap">
		<div id="qusdetails" class="tabs
	   <div id="fragment1" class="ui-tabs-panel tbminwd admar">
	   
	    <div class="qus book_reading" style="margin-top:80px; border:1px solid #e4e2e2; padding:20px;width:680px;color:#9ba51a;">
		<p>Head Teacher will receive an email of your response and the writing marking criteria.</p>
		</div>
        </div>
        </div>
		
	</div>
	   
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
