<div class="container">
	<div class="inner_field regi_main">
			<div class="prof_details">
				<div class="row">
							<div class="col-md-8 col-md-offset-2">
								<div class="form_info">
								
									<h2>Thanks !</h2>
								
									<div class="row">
									<div class="exam_instruction">
									<p>Thank you for participate in this examination, you will get exam result by School management.
									</p>
										<div class="clear_fix"></div>
									</div>
									</div>
									
								</div>
							</div>
				</div>
			</div>
	</div>
</div>