<div class="container">
      <div class="profile_section inner_field">
        <div class="row">
		<?php echo $this->element('school_dashboard_left');?>
		  
          <div class="col-sm-8 col-md-9">
            <div class="mainsection">
              <div class="inner_cont">
                <div class="main_headding">
				<h2 style="text-align:center; color:#119548;"><?php echo @$schoolData['School']['name'];?></h2>
                <h2>List of Exams Purchased</h2>
                  <h3><?php //echo ucwords($studentDetails['Student']['first_name']).' '.ucwords($studentDetails['Student']['last_name']); ?></h3>
                   
				  <?php echo $this->Session->flash();?>
                </div>
                <div class="prof_details prof_form">
                   <!-- content Start--> 

            <div class="row">    
                    
                    
                    <div class="form-group col-md-3 col-sm-3 col-xs-12 pr-none mb-sm">
                    	<label for="SchoolInformationLevel">Year: </label>
                    	<select class = "form-control chosen" class = "exam_filter" onchange="myFunction()" style= "width:100%;">
                    		<option value="">All</option>
							<option value="3">Year 3</option>
							<option value="5">Year 5</option>
							<option value="7">Year 7</option>
							<option value="9">Year 9</option>
                    	</select>
                    </div>
                    <div class="form-group col-md-3 col-sm-3 col-xs-12 pr-none mb-sm">
                    	<label for="SchoolInformationLevel">Subject: </label>
                    	<select class = "form-control chosen" class = "exam_filter" onchange="myFunction()" style= "width:100%;">
                    		<option value="">All</option>
							<option value="literacy">Literacy</option>
							<option value="numeracy">Numeracy</option>
							<option value="maths">Maths</option>
							<option value="literacyandnumeracy">Literacy &amp; Numeracy</option>
                    	</select>
                    </div>
                    <div class="form-group col-md-3 col-sm-3 col-xs-12 pr-none mb-sm">
                        <label for="SchoolInformationLevel">Learning Stage: </label>
                    	<select class = "form-control chosen" class = "exam_filter" onchange="myFunction()" style= "width:100%;">
                    		<option value="">All</option>
							<option value="primary">Primary</option>
							<option value="high">High</option>
                    	</select>
                    </div>
                    <div class="form-group col-md-2 col-sm-2 col-xs-12 mb-sm">
                        <label for="SchoolInformationLevel">Date: </label>
                    	<select class = "form-control chosen" class = "exam_filter" onchange="myFunction()" style= "width:100%;">
                    		<option value="">All</option>
							<option value="asc">ASC</option>
							<option value="desc">DESC</option>
                    	</select>
                    </div>                    
                    
                        
                    
                </div>
<table class="student-list-apr" style="border: 1px solid pink;">
  <tr>
  <th>List</th>
   
    <!--<th>Type</th>-->
    <!--<th>Year</th>-->
	<th>Exam Name</th>
    <th>Category</th>
	 
	<th>Price per student <br>($ AUD)</th>
	<th>No. of<br> Student</th>
	<th>Total Paid</th>
	<th>Exam Code</th>
	<!--<th>Review Exam Code</th>-->
	<th>Date of Exam taken</th>
	<th>Action</th>
  </tr>
  
  <?php
  if(!empty($myPurchasedExam)){ //pr($myPurchasedExam);
	  $i = 1;
	  foreach($myPurchasedExam as $val){
	  	//pr($val);die;
		   $category = explode(' ',$val['Examination']['ExaminationCategory']['name']);
		    
			$examTitle = explode(' ',ucwords(strtolower($val['Examination']['title'])));
			$inserted = array();
			$inserted[] = 'Year '.$category[1];
			array_splice( $examTitle, 1, 0, $inserted );
		   $examName = implode(' ', $examTitle);
			$review_exam_code  = $val['SchoolPurchaseExam']['review_exam_code'];
		   $exam_given_status = $val['SchoolPurchaseExam']['exam_given_status'];
		   
		    $id = $this->requestAction(array('controller' => 'App', 'action' => 'data_encrypt', $val['SchoolPurchaseExam']['id']));
		    $examination_id = $this->requestAction(array('controller' => 'App', 'action' => 'data_encrypt', $val['SchoolPurchaseExam']['examination_id']));
		    $no_of_student_appear = $this->requestAction(array('controller' => 'schools', 'action' => 'get_student_appear_in_exam', $val['SchoolPurchaseExam']['id']));
		    $exam_taken_date = $this->requestAction(array('controller' => 'schools', 'action' => 'fetch_exam_taken_date', $val['SchoolPurchaseExam']['school_id'],$val['SchoolPurchaseExam']['id']));
		   
		   $is_syllabus_referece_available = $this->requestAction(array('controller' => 'schools', 'action' => 'is_syllabus_referece_available', $val['Examination']['id']));
			
			
			 $exam_section_id1 = $this->requestAction(array('controller' => 'App', 'action' => 'data_encrypt', 1)); //Reading booklet questions
			  
			  $exam_section_id2 = $this->requestAction(array('controller' => 'App', 'action' => 'data_encrypt', 2)); // Language Conventions
			  
			  $exam_section_id3 = $this->requestAction(array('controller' => 'App', 'action' => 'data_encrypt', 3));  //Writing Leaflet
			  
			 // $ExaminationId = $this->requestAction(array('controller' => 'App', 'action' => 'data_encrypt', $v['id']));
			  $exam_flag = $this->requestAction(array('controller' => 'App', 'action' => 'data_encrypt', 2));
			
			
			
			
			
		  ?>
		  <tr>
		<td><?php echo $i?></td>
   
	 <!--<td><?php //echo $category[1]; ?></td>-->
  <!--  <td><?php //echo $val['Examination']['ExaminationType']['name'];?></td>-->
    <td><?php echo $examName;?></br></br>
	
	<?php 
	if($category[1] != 3 && $category[1] != 5){ // 3,5 means below lines not for 3 and 5 years
	   if($val['Examination']['exam_flag'] == 2){ //exam_flag=2 means literacy exam paper, 1 means normal
		
	?>
	<a href="#" style="margin-bottom: 10px;" data-toggle="modal" data-target=".viewExamLiteracy<?php echo $id;?>"  class="student_list_ans" >View Exam</a>
	   <?php } else {?>
	
	<a href="#" style="margin-bottom: 10px;" data-toggle="modal" data-target=".viewExam<?php echo $id;?>"  class="student_list_ans" >View Exam</a>
	   <?php }?>
	
	 <?php } else { if($val['Examination']['exam_flag'] == 2){?>
	 <a href="#" style="margin-bottom: 10px;" data-toggle="modal" data-target=".viewExamLiteracy<?php echo $id;?>"  class="student_list_ans" >View Exam</a>
	 
	 <?php } else {?>
	 
	<a target="_blank" href="<?php echo $this->webroot.'schools/view_exam/'.$examination_id;?>">View Exam</a>
	 <?php } }?>
	 
	</td>
	<td><?php echo 'NAPLAN Style Trial';?></td>
	 
	 <td><?php echo '$'.$val['Examination']['price'];?></td>
	 <td><?php echo @$val['SchoolPurchaseExam']['no_of_student'];?></td>
	 <td><?php echo '$'.@$val['SchoolPurchaseExam']['gross_total'];?></br>
	  <a href="#" style="margin-bottom: 10px;" data-toggle="modal" data-target=".viewInvoice<?php echo $id;?>"   class="student_list_ans" >View tax invoice</a>
	 
	
	 
	 </td>
	 <td><?php echo @$val['SchoolPurchaseExam']['exam_code'];?></td>
	 <!--<td id="rvexam_<?php //echo $val['SchoolPurchaseExam']['id'];?>"><?php //echo $review_exam_code;?></td>-->
	 <td><?php echo !empty($exam_taken_date) ? date('d/m/Y', strtotime($exam_taken_date)) : 'N/A';?></td>
	  <td width="135">
	  <?php if($no_of_student_appear > 0){?>
	  
	   <a href="#" style="margin-bottom: 10px;" data-toggle="modal" data-target=".viewReport<?php echo $id;?>" onclick="onClickEvent('<?php echo $id;?>')"  class="student_list_ans" >View exam results</a>
	   
	    <?php  if($val['Examination']['exam_flag'] == 2){?>
		 <a href="<?php echo $this->webroot.'schools/student_list_appeared_in_exam/'.$id.'/3';?>" style="margin-bottom: 10px;" data-toggle="modal"  class="student_list_ans" >View writing leaflet</a>
	   
		<?php }?>
	   
	  <!-- &nbsp;|&nbsp;
	   <a href="<?php //echo $this->webroot.'schools/result_chart/'.$id;?>"><span style="color:orange;">Report</span></a>-->
	  <?php } else {?>
	     <a href="javascript:void(0);" style="color:orange; text-decoration:none; cursor:text;">Exam not taken</a>
	  <?php }?>
	 <!--<a href="<?php //echo $this->webroot.'schools/create_exam/'.$id;?>">Create Exam</a>-->
	  <?php if($exam_given_status=='Yes'){ ?>
	   <a href="#" style="margin-bottom: 10px;" data-toggle="modal" data-target=".reviewExamCode<?php echo $val['SchoolPurchaseExam']['id'];?>" onclick="generate_review_exam_code(<?php echo $val['SchoolPurchaseExam']['id'];?>)"  class="student_list_ans" >Allow student access to review results</a>
	  
		<!--<a href="<?php //echo $this->webroot.'schools/generate_review_exam_code/'.$id;?>">Generate Review Exam Code</a>-->
		<?php } ?>
	  </td>
  </tr>
      <!--1st modal -->
<div class="modal fade viewReport<?php echo $id;?>" id="viewReport____" tabindex="-1" role="dialog" aria-labelledby="examAddEditModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#119548;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" style="color:#fff;"> Reports</h4>
            </div>
            <div class="modal-body">
					 <?php if($category[1] != 3 && $category[1] != 5){ // 3,5 means below lines not for 3 and 5 years?>
                   
				   <!--<button type="button" class="btn btn-secondary btn-lg btn-block" onclick="openUrl('<?php echo $this->webroot.'schools/student_list_appeared_in_exam/'.$id;?>')">Individual Student Results</button>-->
					
					
                    <button type="button" class="btn btn-secondary btn-lg btn-block" style="margin-bottom: 10px;" data-toggle="modal" data-target=".viewResultsByIndividualStudent<?php echo $id;?>">Individual Student Results</button>
					
                    <?php  //if($val['Examination']['exam_flag'] != 2){?>
				   <button type="button" class="btn btn-secondary btn-lg btn-block" style="margin-bottom: 10px;" data-toggle="modal" data-target=".viewReportByType<?php echo $id;?>">Results by Question</button>
					
					<button type="button" class="btn btn-secondary btn-lg btn-block" style="margin-bottom: 10px;" data-toggle="modal" data-target=".viewReportBySyllabusRef<?php echo $id;?>">Full analysis of Student Results and Results by Syllabus Reference</button>
					<?php //}?>
					
					
	               <?php } else {?>
				   
				   <?php  if($val['Examination']['exam_flag'] == 2){?>
				   
				   
				   
                    <button type="button" class="btn btn-secondary btn-lg btn-block" style="margin-bottom: 10px;" data-toggle="modal" data-target=".viewResultsByIndividualStudent<?php echo $id;?>">Individual Student Results</button>
					
                    <?php  //if($val['Examination']['exam_flag'] != 2){?>
				   <button type="button" class="btn btn-secondary btn-lg btn-block" style="margin-bottom: 10px;" data-toggle="modal" data-target=".viewReportByType<?php echo $id;?>">Results by Question</button>
					
					<button type="button" class="btn btn-secondary btn-lg btn-block" style="margin-bottom: 10px;" data-toggle="modal" data-target=".viewReportBySyllabusRef<?php echo $id;?>">Full analysis of Student Results and Results by Syllabus Reference</button>
				   
				   
				   <?php } else {?>
				   <button type="button" class="btn btn-secondary btn-lg btn-block" onclick="openUrl('<?php echo $this->webroot.'schools/student_list_appeared_in_exam/'.$id;?>')">Individual Student Results</button>
				    <button type="button" class="btn btn-secondary btn-lg btn-block" onclick="openUrl('<?php echo $this->webroot.'schools/result_chart/'.$id;?>')">Results by Question</button>
                    <button type="button" class="btn btn-secondary btn-lg btn-block" onclick="openUrl('<?php echo $this->webroot.'schools/substrands_result_chart/'.$id;?>')">Full analysis of Student Results and Results by Syllabus Reference</button>

				   <?php }?>
				   
				   <?php /*?>
					<button type="button" class="btn btn-secondary btn-lg btn-block" onclick="openUrl('<?php echo $this->webroot.'schools/student_list_appeared_in_exam/'.$id;?>')">Individual Student Results</button>
					
				<?php  if($val['Examination']['exam_flag'] != 2){?>
                    <button type="button" class="btn btn-secondary btn-lg btn-block" onclick="openUrl('<?php echo $this->webroot.'schools/result_chart/'.$id;?>')">Results by Question</button>
                    <button type="button" class="btn btn-secondary btn-lg btn-block" onclick="openUrl('<?php echo $this->webroot.'schools/substrands_result_chart/'.$id;?>')">Full analysis of Student Results and Results by Syllabus Reference</button>
				<?php } */?>
					
                    
					<?php }?>
					
					
					<!--<button type="button" class="btn btn-secondary btn-lg btn-block" onclick="openUrl('<?php //echo $this->webroot.'schools/result_chart/'.$id;?>')">Results by Question</button>-->
                    <!--<button type="button" class="btn btn-secondary btn-lg btn-block" onclick="openUrl('<?php echo $this->webroot.'schools/substrands_result_chart/'.$id;?>')">Full analysis of Student Results and Results by Syllabus Reference</button>
                    <button type="button" class="btn btn-secondary btn-lg btn-block" onclick="openUrl('<?php echo $this->webroot.'schools/student_questions_result_chart/'.$id;?>')">Student Questions Wise Report</button>-->
      
            </div>
            <div class="modal-footer" style="background-color:rgba(28, 140, 75, 0.49);">
                <a href="#" class="btn closebut btn-default" data-dismiss="modal">Close</a>
            </div>
        </div>
    </div>
</div>
 <!--2nd modal -->
<div class="modal fade viewReportByType<?php echo $id;?>"  tabindex="-1" role="dialog" aria-labelledby="examAddEditModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#119548;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" style="color:#fff;"> Results by Question</h4>
            </div>
            <div class="modal-body">
			
			     <?php  if($val['Examination']['exam_flag'] == 2){?>
				    
					<button type="button" class="btn btn-secondary btn-lg btn-block" onclick="openUrl('<?php echo $this->webroot.'schools/result_chart/'.$id.'/1';?>')">Reading Booklet Questions Results</button>
                    <button type="button" class="btn btn-secondary btn-lg btn-block" onclick="openUrl('<?php echo $this->webroot.'schools/result_chart/'.$id.'/2';?>')">Language Conventions Results</button>
				   
				   <?php } else {?>
                 <button type="button" class="btn btn-secondary btn-lg btn-block" onclick="openUrl('<?php echo $this->webroot.'schools/result_chart/'.$id.'/non-calculator';?>')">Non-Calculator Results</button>
                    <button type="button" class="btn btn-secondary btn-lg btn-block" onclick="openUrl('<?php echo $this->webroot.'schools/result_chart/'.$id.'/calculator';?>')">Calculator Results</button>
				   <?php }?>
					
                    <!--<button type="button" class="btn btn-secondary btn-lg btn-block" onclick="openUrl('<?php //echo $this->webroot.'schools/result_chart/'.$id;?>')">Combined Results</button>-->
                   
            </div>
            <div class="modal-footer" style="background-color:rgba(28, 140, 75, 0.49);">
                <a href="#" class="btn closebut btn-default" data-dismiss="modal">Close</a>
            </div>
        </div>
    </div>
</div>

 <!--3rd modal -->
<div class="modal fade viewReportBySyllabusRef<?php echo $id;?>"  tabindex="-1" role="dialog" aria-labelledby="examAddEditModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#119548;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" style="color:#fff;">Full analysis of Student Results and Results by Syllabus Reference</h4>
            </div>
            <div class="modal-body">
			
			 <?php  
			 if($val['Examination']['exam_flag'] == 2){
				 if($is_syllabus_referece_available > 0){
				 
				 ?>
				    
					
					<button type="button" class="btn btn-secondary btn-lg btn-block" onclick="openUrl('<?php echo $this->webroot.'schools/substrands_result_chart/'.$id.'/1';?>')">Reading Booklet Questions Results</button>
                    <button type="button" class="btn btn-secondary btn-lg btn-block" onclick="openUrl('<?php echo $this->webroot.'schools/substrands_result_chart/'.$id.'/2';?>')">Language Conventions Results</button>
					<button type="button" class="btn btn-secondary btn-lg btn-block" onclick="openUrl('<?php echo $this->webroot.'schools/substrands_result_chart/'.$id.'/all';?>')">Combined</button>
				  <?php } else {?>
					<button type="button" class="btn btn-secondary btn-lg btn-block">Full analysis of Student Results and Results by Syllabus Reference will be <br> available in the future</button>
				   <?php }?>
				   <?php } else {?>
			
                    <button type="button" class="btn btn-secondary btn-lg btn-block" onclick="openUrl('<?php echo $this->webroot.'schools/substrands_result_chart/'.$id.'/non-calculator';?>')">Non-Calculator Results</button>
                    <button type="button" class="btn btn-secondary btn-lg btn-block" onclick="openUrl('<?php echo $this->webroot.'schools/substrands_result_chart/'.$id.'/calculator';?>')">Calculator Results</button>
                    <button type="button" class="btn btn-secondary btn-lg btn-block" onclick="openUrl('<?php echo $this->webroot.'schools/substrands_result_chart/'.$id.'/combined';?>')">Combined Results</button>
				   <?php }?>
                   
            </div>
            <div class="modal-footer" style="background-color:rgba(28, 140, 75, 0.49);">
                <a href="#" class="btn closebut btn-default" data-dismiss="modal">Close</a>
            </div>
        </div>
    </div>
</div>


 <!--4th modal -->
<div class="modal fade viewExam<?php echo $id;?>"  tabindex="-1" role="dialog" aria-labelledby="examAddEditModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#119548;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" style="color:#fff;">View Exam :</h4>
            </div>
            <div class="modal-body">
                 <button type="button" class="btn btn-secondary btn-lg btn-block" onclick="openUrl('<?php echo $this->webroot.'schools/view_exam/'.$examination_id.'/non-calculator';?>')">Non-Calculator</button>
                 <button type="button" class="btn btn-secondary btn-lg btn-block" onclick="openUrl('<?php echo $this->webroot.'schools/view_exam/'.$examination_id.'/calculator';?>')">Calculator</button>
                  
            </div>
            <div class="modal-footer" style="background-color:rgba(28, 140, 75, 0.49);">
                <a href="#" class="btn closebut btn-default" data-dismiss="modal">Close</a>
            </div>
        </div>
    </div>
</div>
<!--literacy paper modal -->
<div class="modal fade viewExamLiteracy<?php echo $id;?>"  tabindex="-1" role="dialog" aria-labelledby="examAddEditModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#119548;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" style="color:#fff;">View Exam :</h4>
            </div>
            <div class="modal-body">
                 <button type="button" class="btn btn-secondary btn-lg btn-block" onclick="openUrl('<?php echo $this->webroot.'schools/view_exam/'.$examination_id.'/1';?>')">Reading Booklet Questions</button>
				 
                 <button type="button" class="btn btn-secondary btn-lg btn-block" onclick="openUrl('<?php echo $this->webroot.'schools/view_exam/'.$examination_id.'/2';?>')">Language Conventions</button>
                 
				 <button type="button" class="btn btn-secondary btn-lg btn-block" onclick="openUrl('<?php echo $this->webroot.'schools/view_exam/'.$examination_id.'/3';?>')">Writing Leaflet</button>
                  
            </div>
            <div class="modal-footer" style="background-color:rgba(28, 140, 75, 0.49);">
                <a href="#" class="btn closebut btn-default" data-dismiss="modal">Close</a>
            </div>
        </div>
    </div>
</div>





 <!--5th modal -->
<div class="modal fade viewResultsByIndividualStudent<?php echo $id;?>"  tabindex="-1" role="dialog" aria-labelledby="examAddEditModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#119548;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" style="color:#fff;">Individual Student Results</h4>
            </div>
            <div class="modal-body">
			       <?php  if($val['Examination']['exam_flag'] == 2){?>
				    
					<button type="button" class="btn btn-secondary btn-lg btn-block" onclick="openUrl('<?php echo $this->webroot.'schools/student_list_appeared_in_exam/'.$id.'/1';?>')">Reading Booklet Questions Results</button>
                    <button type="button" class="btn btn-secondary btn-lg btn-block" onclick="openUrl('<?php echo $this->webroot.'schools/student_list_appeared_in_exam/'.$id.'/2';?>')">Language Conventions Results</button>
                    
					<!--<button type="button" class="btn btn-secondary btn-lg btn-block" onclick="openUrl('<?php echo $this->webroot.'schools/student_list_appeared_in_exam/'.$id.'/3';?>')">Writing Leaflet</button>-->
				   
				   <?php } else {?>
			
                    <button type="button" class="btn btn-secondary btn-lg btn-block" onclick="openUrl('<?php echo $this->webroot.'schools/student_list_appeared_in_exam/'.$id.'/non-calculator';?>')">Non-Calculator Results</button>
                    <button type="button" class="btn btn-secondary btn-lg btn-block" onclick="openUrl('<?php echo $this->webroot.'schools/student_list_appeared_in_exam/'.$id.'/calculator';?>')">Calculator Results</button>
                    <button type="button" class="btn btn-secondary btn-lg btn-block" onclick="openUrl('<?php echo $this->webroot.'schools/student_list_appeared_in_exam/'.$id.'/combined';?>')">Combined Results</button>
				   <?php }?>
					
                   
            </div>
            <div class="modal-footer" style="background-color:rgba(28, 140, 75, 0.49);">
                <a href="#" class="btn closebut btn-default" data-dismiss="modal">Close</a>
            </div>
        </div>
    </div>
</div>


<!--6th modal -->
<div class="modal fade reviewExamCode<?php echo $val['SchoolPurchaseExam']['id'];?>"  tabindex="-1" role="dialog" aria-labelledby="reviewExamCode" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#119548;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" style="color:#fff;">Exam Review Code Details</h4>
            </div>
            <div class="modal-body">
					<p>The code below expires in one week and enables your students access to have 15 minutes to see their incorrect questions and their full worked solutions.</p> 
<p>This code should be used on school premises under supervision from teachers and can only be used once. It is vital that our security policy, which is embedded in our Terms and Conditions is implemented during this process. We would like to remind you that:</p>
<p>At all times, the use of electronic and/or other devices to take photos or video recordings of practice exams is strictly prohibited.</p>
<p style="font-weight:600;" id="exam_code_<?php echo $val['SchoolPurchaseExam']['id'];?>"></p>
					
					
                   
            </div>
            <div class="modal-footer" style="background-color:rgba(28, 140, 75, 0.49);">
                <a href="#" class="btn closebut btn-default" data-dismiss="modal">Close</a>
            </div>
        </div>
    </div>
</div>




<!-- view invoice paopup start -->
<div class="modal fade viewInvoice<?php echo $id;?>" id="viewReport____" tabindex="-1" role="dialog" aria-labelledby="examAddEditModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#119548;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" style="color:#fff; text-align:center;"> Tax Invoice</h4>
            </div>
            <div class="modal-body">
					<span class="btn btn-secondary btn-lg btn-block">Price per student($ AUD) : <?php echo '$'.$val['Examination']['price'];?></span>
					<span class="btn btn-secondary btn-lg btn-block">No. of Student : <?php echo @$val['SchoolPurchaseExam']['no_of_student'];?></span>
					<span class="btn btn-secondary btn-lg btn-block">Sub Total ($ AUD) : <?php echo @$val['SchoolPurchaseExam']['amount'];?></span>
					<span class="btn btn-secondary btn-lg btn-block" style="border-bottom: 1px dashed #a1a1a1;">GST (10%) :<?php echo ($val['SchoolPurchaseExam']['amount'] * (10/100));?></span>
					<span class="btn btn-secondary btn-lg btn-block"><strong>Total Paid ($ AUD) : <?php echo @$val['SchoolPurchaseExam']['gross_total'];?></strong></span>
                    

            </div>
            <div class="modal-footer" style="background-color:rgba(28, 140, 75, 0.49);">
                <a href="#" class="btn closebut btn-default" data-dismiss="modal">Close</a>
            </div>
        </div>
    </div>
</div>
<!-- view invoice paopup End -->
  
  
<?php
$i++;
	
	  }
  }
?>
</table>
				 
				 
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
	<script>
	function generate_review_exam_code(id){
	 var url = '<?php echo $this->webroot;?>schools/generate_review_exam_code';
                   $.ajax({
                             url : url,
                             type : 'POST',
                             data : {id : id},
                             success : function(data){
                                     $('.reviewExamCode'+id).find('#exam_code_'+ id).html('Review Exam Code: '+data);
                                     $('#rvexam_'+id).html(data);
                             }

           });
        }


	</script>

<script type="text/javascript">

    function openUrl(url){
            var win = window.open(url, '_blank');
    }
	function onClickEvent(id){
		$.ajax({
            type: "POST",
            url: "<?php echo $this->webroot; ?>schools/update_schooldata",
            data: {'id':id},
            cache: false,
            async: true,
            success: function(response)
            {
				console.log(response);
			}
        });
	}
	function myFunction() {
		//var val = $(this)(".exam_filter").val();
		var val = $(this).find(".exam_filter").val();
		alert(val);
		$.ajax({
            type: "POST",
            url: "/learner/schools/ajax_my_purchased_exam",
            data: {'id':val},
            cache: false,
            async: true,
            success: function(response)
            {
				console.log(response);
			}
        });
	}
    </script>