<div class="container">
      <div class="profile_section inner_field">
        <div class="row">
		<?php echo $this->element('school_dashboard_left');?>
		  
          <div class="col-sm-8 col-md-9">
            <div class="mainsection">
              <div class="inner_cont">
                <div class="main_headding">
                <h2>Payment Error</h2>                 
                  <span></span>
                </div>
                <div class="prof_details prof_form">
                   <!-- content Start--> 
                   <div style="color:red;"> <?php echo $this->Session->flash();?></div>
				           <a href="<?php echo $this->webroot ;?>schools/purchase_exam_payment"><button>Back</button></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
	
