<link href="<?php echo $this->webroot;?>css/style.css" rel="stylesheet">

<div id="myModalDlp" class="modal_lfw" style="display:block;">
  <!-- Modal content -->
  <div class="modal-content_qs">
    <div class="modal-header_qs">
      <span class="close" onclick="close_popup()">&times;</span>
      <h4>Message from learner leader online</h4>
    </div>
    <div class="modal-body_qs">
      <p>"Generating reports, may take a few minutes. Please wait" </p>
     
    </div>
    <div class="modal-footer_qs">
      <h3><a href="javascript:void(0);" class="btn closebut btn-default" onclick="close_popup()">Ok</a></h3>
    </div>
  </div>
</div>
<script>
var myModalDlp = document.getElementById('myModalDlp');

function close_popup1(){
	alert();
	// myModalDlp.style.display = "none";
	 
}
</script>