<!-- external javascript -->

<script src="<?php echo $this->webroot; ?>bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

<!-- library for cookie management -->
<script src="<?php echo $this->webroot; ?>js/jquery.cookie.js"></script>
<!-- calender plugin -->
<script src='<?php echo $this->webroot; ?>bower_components/moment/min/moment.min.js'></script>
<script src='<?php echo $this->webroot; ?>bower_components/fullcalendar/dist/fullcalendar.min.js'></script>
<!-- data table plugin -->
<script src='<?php echo $this->webroot; ?>js/jquery.dataTables.min.js'></script>

<!-- select or dropdown enhancer -->
<script src="<?php echo $this->webroot; ?>bower_components/chosen/chosen.jquery.min.js"></script>
<!-- plugin for gallery image view -->
<script src="<?php echo $this->webroot; ?>bower_components/colorbox/jquery.colorbox-min.js"></script>
<!-- notification plugin -->
<script src="<?php echo $this->webroot; ?>js/jquery.noty.js"></script>
<!-- library for making tables responsive -->
<script src="<?php echo $this->webroot; ?>bower_components/responsive-tables/responsive-tables.js"></script>
<!-- tour plugin -->
<script src="<?php echo $this->webroot; ?>bower_components/bootstrap-tour/build/js/bootstrap-tour.min.js"></script>
<!-- star rating plugin -->
<script src="<?php echo $this->webroot; ?>js/jquery.raty.min.js"></script>
<!-- for iOS style toggle switch -->
<script src="<?php echo $this->webroot; ?>js/jquery.iphone.toggle.js"></script>
<!-- autogrowing textarea plugin -->
<script src="<?php echo $this->webroot; ?>js/jquery.autogrow-textarea.js"></script>
<!-- multiple file upload plugin -->
<script src="<?php echo $this->webroot; ?>js/jquery.uploadify-3.1.min.js"></script>
<!-- history.js for cross-browser state change on ajax -->
<script src="<?php echo $this->webroot; ?>js/jquery.history.js"></script>
<!-- application script for Charisma demo -->
<script src="<?php echo $this->webroot; ?>js/charisma.js"></script>